<div class="titles">
  <p data-index="1" class="active">Learning Scientist</p>
  <p data-index="2">Dancer</p>
  <p data-index="3">Collaborator</p>
</div>

<style>
  .titles {
    position: relative;
    height: 5.5rem;
  }

  .titles p {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    padding: 0.5rem 1rem;
    font-size: var(--size-md);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: var(--color-white);
    border-radius: 0.5rem;
    transition: var(--transition-long);
    width: 90%;
    max-width: 450px;
  }

  @media (min-width: 1024px) {
    .titles p {
      left: 0;
      transform: none;
      width: auto;
    }
  }

  .titles p.active {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
  }

  @media (min-width: 1024px) {
    .titles p.active {
      transform: translate(0, -50%);
    }
  }

  .titles p[data-index='1'] {
    background-color: var(--color-light-pink);
  }
  .titles p[data-index='2'] {
    color: var(--color-white);
    background-color: var(--color-black);
  }
  .titles p[data-index='3'] {
    background-color: var(--color-light-green);
  }
</style>

<script>
  const titles = document.querySelectorAll('.titles p')

  function animateTitles() {
    let index = 0

    setInterval(() => {
      titles[index].classList.remove('active')

      if (index === titles.length - 1) {
        index = 0
      } else {
        index++
      }

      titles[index].classList.add('active')
    }, 3000)
  }
  animateTitles()
</script>
