@font-face {
  font-family: 'Cooper Bold';
  src: url('/fonts/CooperBT-Bold.woff2') format('woff2'),
    url('/fonts/CooperBT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Light';
  src: url('/fonts/CooperBT-Light.woff2') format('woff2'),
    url('/fonts/CooperBT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-cooper-bold: 'Cooper Bold', sans-serif;
  --font-cooper-light: 'Cooper Light', sans-serif;

  --color-black: #000;
  --color-black-faded: #2e3438;
  --color-grey: #f5f5f5;
  --color-grey-dark: #e5e5e5;
  --color-white: #fff;
  --color-white-transparent: #ffffff50;
  --color-green: #283700;
  --color-light-green: #597600;
  --color-extra-light-green: #e3e9d2;
  --color-light-green-transparent: #59760050;
  --color-pink: #ba0038;
  --color-light-pink: #ff5c97;
  --color-light-pink-transparent: #ff5c9850;
  --color-purple: #848dad;
  --color-light-purple: #b8c2d7;
  --color-purple-transparent: #848dad50;
  --color-blue: #5b7eae;
  --color-box-shadow: #0000001a;

  --gradient-blue-purple: linear-gradient(-45deg, var(--color-blue) 25%, var(--color-purple));

  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-md: 1.25rem;
  --size-lg: 1.5rem;
  --size-xl: 2.25rem;
  --size-xxl: 3rem;
  --size-xxxl: 4rem;
  --size-section-header: clamp(2rem, 5vw, 4rem);
  --size-subsection-header: clamp(1.5rem, 5vw, 3rem);

  --transition-normal: 0.25s ease-in-out;
  --transition-medium: 0.4s ease-in-out;
  --transition-long: 1s ease-in-out;
  --transition-natural: cubic-bezier(0.34, -0.26, 0.28, 1.25);
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-cooper-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Experimental, but fallback is default styling */
  text-wrap: balance;
}

body[data-overlay-displayed='true'] {
  overflow: hidden;
}

body:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-box-shadow);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-normal);
}

body[data-overlay-displayed='true']:after {
  visibility: visible;
  opacity: 1;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-cooper-bold);
  margin: 0;
}

h1 {
  font-size: var(--size-xxl);
  line-height: 2.5rem;
}

h2 {
  font-size: var(--size-xxl);
  text-align: center;
}

@media (min-width: 768px) {
  h2 {
    font-size: var(--size-xxxl);
  }
}

h3 {
  font-size: var(--size-xl);
}

@media (min-width: 768px) {
  h3 {
    font-size: var(--size-xxl);
  }
}

ul,
p {
  margin: 0;
  padding: 0;
}

li,
p {
  font-size: var(--size-base);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--color-light-pink);
  transition: var(--transition-normal);
}

a:hover {
  color: var(--color-pink);
}

ul {
  list-style: none;
}

button {
  font-family: var(--font-cooper-bold);
}

.site-section {
  padding: 10rem 1rem;
  opacity: 0;
  transition: opacity var(--transition-long);
}

.site-section.active {
  opacity: 1;
}

.site-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.site-cta {
  display: inline-block;
  margin: 0 auto;
  padding: 1rem;
  font-size: var(--size-lg);
  text-decoration: none;
  font-weight: 700;
  color: var(--color-white);
  background: var(--color-light-pink);
  border-radius: 3rem;
  transition: all var(--transition-medium);
}

.site-cta:hover {
  color: var(--color-white);
  background: var(--color-pink);
}
