<section class="commitments site-section">
  <div class="content">
    <h3>Over the past few decades...</h3>
    <div class="content-body">
      <p>
        The field of the Learning Sciences has experienced generational shifts, from regarding
        conceptualizations of learning as an individual phenomenon to recognizing learning as a
        process mediated by dynamic histories, cultures, and social relations. Researchers are now
        drawing on a history of work in Critical Theory to foreground issues of power, politics, and
        ethics within education research. These leading scholars commit to designing and studying
        dignity-affirming and expansive educational contexts that resist narrow conceptions of
        learning that reproduce hegemonic systems. In line with these scholars, I understand equity,
        diversity, and inclusion in education to be illuminated by an interrogation of political and
        ethical commitments which serve as concrete actions towards dismantling oppressive systems
        and imagining and building humanizing worlds. Thus in this statement I articulate my
        commitments to engage identities as opportunities for praxis, privilege artistic ways of
        knowing, and foster collectivity and care.
      </p>
    </div>
  </div>

  <div class="content">
    <h3>Engaging Identities as Opportunities for Praxis</h3>
    <div class="content-body">
      <p>
        As a sociocultural theorist of learning, I am acutely aware of the ways (felt and perceived)
        identities shape how we see, understand, and engage in the world. My multifacated identities
        as a white, straight, cis-genedered, able-bodied, Jewish, female (to name a few) influence
        not only how I approach research, teaching, and service, but also how my actions are
        received by others as either reproducing or challenging harmful social hierarchies. Thus, I
        intentionally create opportunities to interrogate and learn from collaborators', students,
        and my own subjective positionalities to create more dignifying worlds.
      </p>
      <p>
        For example, in my second writing sample my colleagues and I use an analytic lens that
        combines prolepsis and telos to help bring into focus how educators' ideologies of race,
        class, and gender influence what experiences from the past they draw on, which shapes their
        imagined futures for youth and ultimately is reflected in how they mediate learning in the
        present (Sengupta-Irving, Vogelstein, Brady, & Phillips-Galloway, JLS, accepted). This
        analysis has led me to reflect on my own positionality as a white scholar and educator.
        While it is inevitable to draw on our past lived experiences in interaction, as a white
        female this means it is important to make visible structures of white supremacy in my
        history and future imaginings. For example, as an enthusiastic child I had a habit of
        blurting out answers in school. I was never harshly reprimanded for this and was told it was
        a positive trait. However, similar or even the same forms of participation by black girls
        have been documented to lead to harsh and dangerous reprimands, including being labeled as
        unruly children and forced out of classrooms. While as an adult I am still an enthusiastic
        learner, I now have a more nuanced understanding of my positionality. While enthusiasm for
        learning can be infectious and wonderful, taking up too much space is not a virtue. As a
        researcher and educator, it is important to make sure many voices and perspectives are
        included (knowing when to step in and step out) and to not read quietness or hesitancy as a
        lack of enthusiasm, as interpreting speaking out as enthusiasm (instead of say, disrespect
        for others' participation), has been shaped by my whiteness. Thus, it is important to
        continually reflect and question what I read as productive, good, and desirable to make
        visible how white supremacy influences their social construction.
      </p>
      <p>
        Additionally, I have taken up the practice of continuously returning to data with others to
        illuminate norms and social dynamics that are obscured by my own positionality. When
        co-analyzing data with dancer collaborators, we recognized an interaction with four young
        boys as an episode needing to be reframed by racialized systems of participation. Although
        we first noticed these boys' position near the teacher as consistent with the gendered
        dynamics in the movement space (boys in closer proximity to the teacher than girls) we then
        realized that these boys often stayed out of the teacher's line of sight. This nuance was
        salient to us as a group including one black male queer dance artist and one white female
        queer dance artist, because marganilized students (especially students of color) often
        protect themselves from harmful stereotypes by participating in educational spaces at the
        periphery. We then understood the teacher's invitation to participate as a move that allowed
        these boys to contribute movements on their own terms. By centering an intersectional
        framework of race and gender, we saw the complexities young students of color navigated in
        our own design and the impactful ways this teacher helped steer this interaction towards a
        meaningful, empowering learning experience (manuscript in preparation).
      </p>
    </div>
  </div>

  <div class="content">
    <h3>Privileging Artistic Ways of Knowing</h3>
    <div class="content-body">
      <p>
        My history and identity as a dance artist informs my political commitment to positioning
        dance as a form of research and dancers as collaborative research partners. Dance has too
        often been cast as an artistic and physical pursuit separate from the superior, thinking
        brain. However, how we move and feel in our bodies is an important part of learning and
        sensemaking, and cutting off these resources limits what and how we can learn in STEM and
        other learning environments. In my research, I explore choreographic practices as processes
        of inquiry to challenge social narratives that cast embodied and artistic ways of knowing as
        antithetical to rigorous, scientific methods of knowledge production. For example, my
        colleagues and I show how a group of four 8th grade girls manipulating a large square sheet
        of Mylar developed a complex conceptualization of reflections as consisting of the
        coordination of two pairs of pairs (Vogelstein et al., ZDM, 2019, writing sample 1). They
        came to this understanding by attending to how their choreography looked and felt; by
        privileging these girls' aesthetic sensibilities and axiology, we illuminate the novel
        sensemaking approaches dance afforded these girls in their mathematics learning. I carry
        this commitment to privileging artistic ways of knowing into my own pedagogy. For example,
        in leading a discussion on gender in a course on Critical Discourse Analysis, I showed a
        work of dance performed by my collaborators entitled “Girls,” which explored and challenged
        female stereotypes. Grounding this discussion in art pushed the group's ideas to include
        embodiment and movement as communicating sociopolitical discourses. I am excited to expand
        this pedagogical practice by including works of art as texts in my syllabi in the future.
      </p>
    </div>
  </div>

  <div class="content">
    <h3>Fostering Collectivity & Care</h3>
    <div class="content-body">
      <p>
        In centering choreographic inquiry processes such as the practice of “physical research”
        that the dancers I collaborate with engage in (Vogelstein, ISLS, 2021), I also center
        collective practices in my research. For example, my dance collaborators and I have been
        thinking through a phenomenon we are calling “choreographies of care,” where small groups
        demonstrate their care for each other in a larger group context by moving and responding to
        each other's movements (manuscript in preparation). This is important in STEM learning
        environments where what counts as learning can often center hyper-individualism, normative
        and simplified views of correct thinking, and competitiveness. Such STEM environments
        typically ignore potential resources and cultural assets for creative production.
      </p>
      <p>
        Leveraging collectivity and fostering care in STEM learning environments is a central
        commitment in my research, mentorship and service. In mentoring Learning & Design master's
        students in their capstone projects, I started each year by meeting as a group to
        collectively workshop each student's nascent design wondering. Similarly to how middle
        schoolers enacting computational movement rules saw each others' contributions as proposals
        to respond to, capstone students began to see each other's ideas as proposals to
        supportively build on. In turn, this helped create a community in which students' saw each
        others' heterogeneous experiences as generative resources to seek out. In addition,
        throughout my time at Vanderbilt I have been an active member of our department's doctoral
        community through the Doctoral Student Association (DSA). I have held almost every position
        in the DSA from social chair, to president, to first year liaison when I implemented a new
        first year buddy system to more wholly integrate first year students into our community. I
        was honored with the Jasmine Ma Award by my peers for service to our doctoral student
        community. As one nomination read, “Lauren takes the doctoral student community more
        seriously than anyone I know. ...She listens carefully and gives thoughtful feedback - above
        and beyond what is expected. She is intentionally present to celebrate our successes or
        grieve our losses. She is a powerful uniting force, and the DSA would not be what it is
        without her.”
      </p>
    </div>
  </div>
</section>

<style>
  .content {
    max-width: 800px;
    margin: 0 auto 4rem;
  }

  @media (min-width: 768px) {
    .content {
      margin-bottom: 8rem;
    }
  }

  .content h3 {
    padding: 2rem;
    font-size: var(--size-lg);
    text-align: center;
  }

  .content p {
    line-height: 1.8;
    font-size: var(--size-md);
    text-align: center;
  }

  @media (min-width: 768px) {
    .content p {
      text-align: left;
    }
  }

  .content p:not(:last-child) {
    margin-bottom: 2rem;
  }

  .content-body {
    padding: 2rem;
    color: var(--color-white);
    background-color: var(--color-purple);
    border-radius: 1.25rem;
  }
</style>
