---
import { Icon } from 'astro-icon/components'
---

<footer id="footer">
  <div class="wrapper">
    <div class="footer-section">
      <h3>Site Map:</h3>
      <ul class="site-map">
        <li><a href="/#about">About</a></li>
        <li><a href="/#research">Research</a></li>
        <li><a href="/#teaching">Teaching</a></li>
        <li><a href="/#commitments">Commitments</a></li>
        <li><a href="/#choreography">Choreography</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Contact Me:</h3>
      <p>Email: laurenvo@upenn.edu</p>
    </div>
    <div class="footer-section">
      <h3>Connect with me:</h3>
      <ul class="icons">
        <li>
          <a href="mailto:laurenvo@upenn.edu" aria-label="Email">
            <Icon name="email" />
          </a>
        </li>
        <li>
          <a
            href="https://scholar.google.com/citations?user=Lg9Z34kAAAAJ&hl=en"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Google Scholar"
          >
            <Icon name="google-scholar" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="footer-text">
    &copy; <span id="copyright">{new Date().getFullYear()}</span> laurenvogelstein.com. All rights reserved.
  </p>
  <p class="footer-text">
    Website by
    <a href="https://wavelandweb.com" target="_blank" rel="noopener noreferrer">
      Wave Land Web <Icon name="arrow-top-right" /></a
    >
  </p>
</footer>

<style>
  footer {
    padding: 2rem;
    background: linear-gradient(
      -45deg,
      var(--color-purple-transparent) 25%,
      var(--color-light-pink-transparent)
    );
  }

  a {
    color: var(--color-black);
    text-decoration: underline;
  }

  a:hover {
    color: var(--color-light-pink);
  }

  .wrapper {
    max-width: 800px;
    margin: 0 auto 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .footer-section {
    margin-bottom: 1.5rem;
  }

  .footer-section h3 {
    margin-bottom: 1rem;
    font-size: initial;
  }

  .site-map li {
    margin-bottom: 0.5rem;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .icons svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-black);
  }

  .footer-text {
    text-align: center;
  }

  .footer-text a {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    transition: var(--transition-normal);
  }

  .footer-text a:hover [data-icon='arrow-top-right'] {
    stroke: var(--color-light-pink);
  }

  .footer-text [data-icon='arrow-top-right'] {
    width: 0.5rem;
    height: 0.5rem;
    stroke: var(--color-black);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: var(--transition-normal);
  }
</style>
