---
import { Picture } from 'astro:assets'
import Navigation from './Navigation.astro'
import curvedName from '../../assets/curved-name.svg'
import headshot from '../../assets/headshot.png'
import RotatingTitles from '../animations/RotatingTitles.astro'
---

<header>
  <Navigation />
  <div class="content aos-fade">
    <div class="signature">
      <Picture
        src={curvedName}
        formats={['avif', 'webp']}
        alt="Curved name text"
        loading="eager"
        class="image-one"
      />
      <Picture
        src={headshot}
        formats={['avif', 'webp']}
        alt="Lauren Vogelstein Headshot"
        loading="eager"
        class="image-two"
      />
    </div>
    <div class="info">
      <RotatingTitles />
      <div class="description">
        <p>
          I design and study STEAM learning environments where the A in STEAM is as respected as the
          STEM disciplines involved. In particular, I explore how collaborating with dancers and
          choreographers on the design and analysis of STEAM spaces can leverage artistic,
          choreographic research as rigorous forms of collective learning.
        </p>
        <p>
          Currently, I am a postdoctoral associate at the University of Pennsylvania in the Graduate
          School of Education. I recently finished up a postdoctoral fellowship at NYU in the
          department of Teaching and Learning. Before that, I received my PhD in Learning & Design
          from Vanderbilt University and my BFA in Dance & Choreography from the Ailey/Fordham BFA
          program.
        </p>
      </div>
    </div>
  </div>
</header>

<style>
  header {
    position: relative;
    background: var(--color-blue);
  }

  p {
    font-size: var(--size-md);
  }

  @media (min-width: 1024px) {
    .content {
      max-width: var(--max-width);
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      gap: 2rem;
    }
  }

  .signature {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .signature .image-one {
    width: 90%;
    max-width: 450px;
  }

  @media (max-height: 700px) {
    .signature .image-one {
      max-width: 39vh;
    }
  }

  .signature .image-two {
    max-width: 300px;
  }

  @media (max-height: 700px) {
    .signature .image-two {
      max-width: 39vh;
    }
  }

  .info {
    align-self: flex-end;
    padding: 4rem 2rem;
    text-align: center;
    background-color: var(--color-white);
  }

  @media (min-width: 1024px) {
    .info {
      padding: 4rem 1rem;
      text-align: left;
      color: var(--color-white);
      background-color: transparent;
    }
  }

  @media (min-width: 1024px) and (max-height: 700px) {
    .info {
      margin-bottom: 2rem;
    }
  }

  .description {
    max-width: 500px;
    margin: 0 auto;
  }

  .description p:not(:last-of-type) {
    margin-bottom: 1rem;
  }
</style>

<script>
  function handleFadeInOnLoad() {
    const content = document.querySelector('.content')
    content?.classList.add('active')
  }

  window.addEventListener('load', handleFadeInOnLoad)
</script>
