---
import { Icon } from 'astro-icon/components'
---

<nav>
  <div class="wrapper">
    <h1><a href="/">Lauren Vogelstein</a></h1>

    <!-- Desktop -->
    <ul class="desktop-items">
      <li><a href="/#about">About</a></li>
      <li><a href="/#research">Research</a></li>
      <li><a href="/#teaching">Teaching</a></li>
      <li><a href="/#commitments">Commitments</a></li>
      <li><a href="/#choreography">Choreography</a></li>
    </ul>
    <ul class="desktop-icons">
      <li><a href="/files/lauren-vogelstein-cv.pdf" aria-label="CV" download>CV</a></li>
      <li>
        <a href="mailto:lev226@nyu.edu" aria-label="Email">
          <Icon name="email" />
          <li>
            <a
              href="https://scholar.google.com/citations?user=Lg9Z34kAAAAJ&hl=en"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Google Scholar"
            >
              <Icon name="google-scholar" />
            </a>
          </li>
        </a>
      </li>
    </ul>

    <!-- Mobile -->
    <div class="mobile-nav">
      <div id="hamburger" class="hamburger">
        <div class="top"></div>
        <div class="middle"></div>
        <div class="bottom"></div>
      </div>
      <div class="mobile-nav-overlay">
        <ul class="mobile-nav-items">
          <li><a href="/#about">About</a></li>
          <li><a href="/#research">Research</a></li>
          <li><a href="/#teaching">Teaching</a></li>
          <li><a href="/#commitments">Commitments</a></li>
          <li><a href="/#choreography">Choreography</a></li>
        </ul>
        <ul class="mobile-nav-icons">
          <li>
            <a href="/files/lauren-vogelstein-cv.pdf" aria-label="CV" download="">CV</a>
          </li>
          <li>
            <a href="mailto:lev226@nyu.edu" aria-label="Email">
              <Icon name="email" />
            </a>
          </li>
          <li>
            <a
              href="https://scholar.google.com/citations?user=Lg9Z34kAAAAJ&hl=en"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Google Scholar"
            >
              <Icon name="google-scholar" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<style>
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 1rem;
    background-color: var(--color-white);
    box-shadow: 0 0 8px var(--color-box-shadow);
    transition: var(--transition-long);
  }

  nav.scrolled {
    background-color: var(--color-white-transparent);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    transition: var(--transition-long);
  }

  .wrapper {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    width: 200px;
    font-size: var(--size-xl);
  }

  li,
  a {
    display: flex;
    align-items: center;
  }

  a {
    transition: all var(--transition-normal);
  }

  li {
    font-family: var(--font-cooper-bold);
  }

  a {
    text-decoration: none;
    color: var(--color-black);
  }

  [data-icon] {
    width: 1.5rem;
    height: 1.5rem;
  }

  /* Desktop */

  .desktop-items,
  .desktop-icons {
    gap: 2rem;
    display: none;
    list-style: none;
  }

  @media (min-width: 1024px) {
    .desktop-items,
    .desktop-icons {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .desktop-items a:hover,
  .desktop-icons a:hover {
    color: var(--color-light-pink);
  }

  /* Mobile */

  .mobile-nav {
    display: block;
  }

  @media (min-width: 1024px) {
    .mobile-nav {
      display: none;
    }
  }

  .mobile-nav a {
    color: var(--color-white);
    transition: all var(--transition-normal);
  }

  .mobile-nav a:hover {
    color: var(--color-light-pink);
  }

  .hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    z-index: 2;
    cursor: pointer;
  }

  .hamburger .top,
  .hamburger .middle,
  .hamburger .bottom {
    width: 1.5rem;
    height: 2px;
    background: var(--color-black);
    border-radius: 1rem;
    transition: all 0.8s cubic-bezier(0.34, -0.26, 0.28, 1.25);
  }

  .hamburger .top {
    transform: translateY(-4px);
  }

  .hamburger .bottom {
    transform: translateY(4px);
  }

  .hamburger.active .top,
  .hamburger.active .middle,
  .hamburger.active .bottom {
    background: var(--color-white);
  }

  .hamburger.active .top {
    transform: translateY(2px) rotate(405deg);
  }

  .hamburger.active .middle {
    transform: translateX(-50px);
    opacity: 0;
  }

  .hamburger.active .bottom {
    transform: translateY(-2px) rotate(-405deg);
  }

  .mobile-nav-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    background: var(--color-blue);
    transition: all var(--transition-normal);
  }

  .hamburger.active + .mobile-nav-overlay {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }

  .mobile-nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .mobile-nav-items li {
    font-size: var(--size-xl);
    line-height: normal;
  }

  .mobile-nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .mobile-nav-icons li {
    font-family: var(--font-cooper-light);
    font-size: var(--size-lg);
  }

  .mobile-nav-icons [data-icon] {
    width: 2rem;
    height: 2rem;
  }
</style>

<script>
  const body = document.querySelector('body')
  const navigation = document.querySelector('nav')
  const hamburger = document.getElementById('hamburger')
  const mobileNavItems = document.querySelectorAll('.mobile-nav-overlay li')
  let overlayDisplayed = false

  function handleMobileNavigationOnClick() {
    overlayDisplayed = !overlayDisplayed
    body?.setAttribute('data-overlay-displayed', `${overlayDisplayed}`)
    hamburger?.classList.toggle('active')
  }

  function handleMobileNavigationOnResize() {
    if (window.innerWidth >= 1024) {
      overlayDisplayed = false
      body?.setAttribute('data-overlay-displayed', `${overlayDisplayed}`)
      hamburger?.classList.remove('active')
    }
  }

  function handleNavigationOnScroll() {
    if (window.scrollY > 0) {
      navigation?.classList.add('scrolled')
    } else {
      navigation?.classList.remove('scrolled')
    }
  }

  window.addEventListener('scroll', handleNavigationOnScroll)
  window.addEventListener('resize', handleMobileNavigationOnResize)
  hamburger?.addEventListener('click', handleMobileNavigationOnClick)
  mobileNavItems.forEach((item) => item.addEventListener('click', handleMobileNavigationOnClick))
</script>
