---
import Projects from '../layout/Projects.astro'
---

<section id="research" class="research site-section">
  <!-- TODO: Build gears animation, pull from <AreasOfResearchOld /> where necessary -->
  <Projects />
</section>
