<section id="teaching" class="teaching site-section">
  <div class="content-container">
    <p>
      My work as an educator is intimately related to my work as a researcher. I work to illuminate
      the genius and ingenuity of (young) learners through the pedagogy and design of robust,
      embodied learning environments. I echo Rose's ethos that people make sense, and thus I work
      with an ethical analytic and pedagogical responsibility to honor the sensibility in learners'
      sensemaking. Preserving learners' dignity is of the utmost importance as learning is an
      extremely vulnerable process of humanization. I bring enthusiasm, humor, and care to my
      pedagogical sensibilities, as I have learned from educators that I admire and participants in
      my research that enthusiasm is infectious, humor can be relaxing, and care is the essence of
      all good teaching.
    </p>
    <p>
      Whether it is a middle school student trying to choreograph a reflection with a whooshing
      motion or a pre-service teacher sharing observations of learning in context, my pedagogical
      role is to make sense of their thinking, highlight the generative aspects of it, and push
      towards more expansive ends. As one graduate student shared in an evaluation of my teaching,
      “Lauren's greatest strength is in the ways that she highlights the unique and interesting
      pieces of each person's contribution. This is far from simple complimenting, but rather, a way
      to emphasize the brilliance in what everyone is able to contribute in class, and weave them
      together in a coherent story.”
    </p>
    <p>
      As an educator, I see my role as an ambassador of the Learning Sciences as a field. Thus, my
      primary teaching goal is for students to thoughtfully connect theory to their design and
      pedagogical decisions so that their sensemaking is guided by conceptualizations of how
      learning happens. I want students to reflect on the socially and interactionally complex
      nature of learning as an aesthetic, emotional, ethical, and political experience. Across my
      teaching experiences at Vanderbilt, from an undergraduate course on the design of informal
      learning environments to an advanced graduate methods course on Interaction Analysis, I have
      asked students to engage in close descriptive observations of learning in context. While this
      entails pushing students to put theories of learning into action in their own descriptive
      analyses, it also involves explicitly engaging students in examining how issues of equity and
      power are at play in learning environments. In my research, I have seen how even the most
      expansive pedagogies can be limited by deficit ideologies of race, class, and gender,
      (Sengupta-Irving, Vogelstein, Brady, & Phillips-Galloway, accepted with major revisions JLS).
      Thus, I explicitly attend to ideologies and limiting assumptions in my own teaching in order
      to push students to consider these same tensions in their own conceptualizations of learning
      and design.
    </p>
  </div>
</section>

<style>
  .teaching p {
    margin-bottom: 1rem;
    font-size: var(--size-md);
    line-height: normal;
  }
</style>
