<section id="about" class="about">
  <div class="polygon-container">
    <div class="col-1">
      <div class="polygon one">
        <div class="polygon-inner">
          <div class="front">
            <p>Childhood</p>
          </div>
          <div class="back">
            <p>
              I began dancing at a young age and also became enamored with counting, organizing, and
              pattern making.
            </p>
          </div>
        </div>
        <div class="shadow"></div>
      </div>
      <div class="polygon two">
        <div class="polygon-inner">
          <div class="front">
            <p>College</p>
          </div>
          <div class="back">
            <p>
              My love of dance and math brought me to NYC where I received my BFA in dance and BS in
              math from The Ailey School & Fordham University.
            </p>
          </div>
        </div>
        <div class="shadow"></div>
      </div>
    </div>

    <div class="col-2">
      <div class="polygon four">
        <div class="polygon-inner">
          <div class="front">
            <p>Masters</p>
          </div>
          <div class="back">
            <p>
              I went on to work at MoMath where I worked as an educator and developed a movement
              based math curriculum. I went on to earn my MA in Learning Sciences at Northwestern
              University.
            </p>
          </div>
        </div>
        <div class="shadow"></div>
      </div>

      <div class="polygon three">
        <div class="polygon-inner">
          <div class="front">
            <p>Dissertation Research</p>
          </div>
          <div class="back">
            <p>
              I received my PhD in Learning Sciences from the Deparment of Teach & Learning in
              Peabody College at Vanderbilt University, advised by Rogers Hall & Corey Brady. My
              research focused on choreographic ways of knowing sites for STEM learning, design, and
              analysis.
            </p>
          </div>
        </div>
        <div class="shadow"></div>
      </div>
    </div>

    <div class="col-3">
      <div class="content">
        <p>
          I am now a postdoctoral associate at NYU working on the Pila-CS project to support
          teachers to incorporate CS with a translanguaging lens into their classrooms. In this
          position, I am a Lucas Education Foundation postdoctoral fellow, focusing on the study and
          design of equity oriented learning environments.
        </p>
        <p>
          In addition to my postdoctoral work, I am a co-PI on the three-year NSF project
          Choreographing Sciences (Award #2115773)
        </p>
      </div>
      <button>View CV</button>
    </div>
  </div>
</section>

<style>
  @media (min-width: 992px) {
    .polygon-container {
      display: flex;
      gap: 4vw;
      width: 100%;
      max-width: 1200px;
      margin: auto;
    }
  }

  .col-1,
  .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 992px) {
    .col-1,
    .col-2 {
      display: block;
      width: initial;
    }
  }

  .col-2 {
    margin-bottom: 2rem;
  }

  @media (min-width: 992px) {
    .col-2 {
      margin-bottom: 0;
    }
  }

  .polygon {
    width: clamp(250px, 30vw, 550px);
    height: clamp(250px, 30vw, 550px);
    margin-bottom: min(5vw, 2rem);
    background-color: transparent;
    perspective: 1000px;
    cursor: pointer;
  }

  @media (min-width: 992px) {
    .polygon.one,
    .polygon.three {
      width: clamp(150px, 22vw, 350px);
      height: clamp(150px, 22vw, 350px);
    }

    .polygon.two,
    .polygon.four {
      width: clamp(150px, 22vw, 350px);
      height: clamp(112px, 16.5vw, 250px);
    }
  }

  .polygon-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform var(--transition-normal);
  }

  .polygon:hover .polygon-inner,
  .polygon .back {
    transform: rotateY(180deg);
  }

  @media (min-width: 992px) {
    .polygon.two:hover .polygon-inner,
    .polygon.four:hover .polygon-inner,
    .polygon.two .back,
    .polygon.four .back {
      transform: rotateX(180deg);
    }
  }

  .polygon-inner .front,
  .polygon-inner .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: var(--color-white);
  }

  .polygon-inner .front {
    background-color: var(--color-extra-light-green);
  }

  .polygon-inner .back {
    background-color: var(--color-light-pink);
    transform: rotateY(180deg);
  }

  .polygon .shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    transform: translate(5px, 5px);
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
    z-index: -1;
  }

  @media (min-width: 992px) {
    /* Up arrow */
    .polygon.three .front,
    .polygon.three .back,
    .polygon.three .shadow {
      clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 0 100%);
    }

    /* Down arrow */
    .polygon.one .front,
    .polygon.one .back {
      clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
    }

    /* Right arrow */
    .polygon.two .front,
    .polygon.two .back,
    .polygon.four .front,
    .polygon.four .back,
    .polygon.two .shadow,
    .polygon.four .shadow {
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
  }

  .polygon .front,
  .polygon .back {
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
  }

  .polygon .front {
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: bottom;
  }

  .polygon.one .front {
    background-image: url('/1.png');
  }

  .polygon.two .front {
    background-image: url('/2.png');
  }

  .polygon.three .front {
    background-image: url('/3.png');
  }

  .polygon.four .front {
    background-image: url('/4.png');
  }

  .polygon-inner p {
    position: absolute;
  }

  .polygon-inner .front p {
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 1rem;
    font-family: var(--font-cooper-bold);
    font-size: clamp(1rem, 4vw, 1.5rem);
    text-shadow: 0.5px 0.5px 0 var(--color-black);
    text-align: center;
  }

  @media (min-width: 992px) {
    .polygon-inner .front p {
      width: initial;
      margin-top: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .polygon-inner .back p {
    width: 90%;
    padding: 0.5rem;
    font-size: clamp(0.9rem, 1.25vw, 1.2rem);
    line-height: normal;
    text-shadow: 0.5px 0.5px 0 var(--color-black);
  }

  @media (min-width: 992px) {
    .polygon.two .back p,
    .polygon.four .back p {
      width: 80%;
    }

    .polygon.three .back p {
      bottom: 0;
      right: 0;
      text-align: right;
    }
  }

  .col-3 {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .content {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 2px solid var(--color-black);
    border-radius: 5px;
    box-shadow: 4px 4px 0 var(--color-black);
  }

  .content p {
    margin-bottom: 1rem;
    font-size: clamp(1rem, 1.25vw, 1.2rem);
  }

  .col-3 button {
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    color: var(--color-white);
    background: var(--color-light-pink);
    font-size: clamp(1rem, 1.25vw, 1.2rem);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color var(--transition-normal);
  }

  .col-3 button:hover {
    background: var(--color-pink);
  }
</style>
