<section id="research" class="diagram">
  <div class="diagram-wrapper">
    <!-- ARTS -->
    <div id="arts" class="circle">
      <p>Arts <span>(Dance & Choreography)</span></p>

      <!-- "More Info" modal (desktop only) -->
      <div class="circle-modal arts desktop">
        <p>Sense-making resources are often:</p>
        <ul>
          <li>In relation and response to other movers</li>
          <li>Cast as carnal and frivolous or intuitive and not rigorous</li>
        </ul>
        <p>What counts as learning often:</p>
        <ul>
          <li>Is felt through movement as much as it is observed</li>
          <li>Focuses on collective expressive potential</li>
          <li>Is not taken seriously</li>
        </ul>
        <a href="#"
          >Professional dancers' collective inquiry practice, physical research (Vogelstein, 2020)</a
        >
        <a href="#"
          >Professional dancers' use of physical research in a mathematically relevant context
          (Vogelstein, 2020)</a
        >
      </div>
    </div>
    <!-- STEM -->
    <div id="stem" class="circle">
      <p>STEM <span>(Computer Science, Mathematics, Science)</span></p>

      <!-- "More Info" modal (desktop only) -->
      <div class="circle-modal stem desktop">
        <p>Sense-making resources are often:</p>
        <ul>
          <li>Located in individual minds</li>
          <li>Used to draw objective conclusions</li>
        </ul>
        <p>What counts as learning often:</p>
        <ul>
          <li>Amplifies hyper-individualism</li>
          <li>Centers normative and simplified views of correct thinking</li>
          <li>Fosters competitiveness</li>
        </ul>
        <a href="#"
          >8th graders & STEM educators' ensemble mathematical activity in choreographic reenactment
          (Vogelstein, Brady, & Hall, 2019)</a
        >
      </div>
    </div>
    <!-- LEARNING SCIENCES -->
    <div id="learning-sciences" class="circle">
      <p>Learning Sciences <span>(Embodied & Ensemble Learning)</span></p>

      <!-- "More Info" modal (desktop only) -->
      <div class="circle-modal learning-sciences desktop">
        <p>Sense-making resources are often:</p>
        <ul>
          <li>Distributed across multiple moving bodies</li>
        </ul>
        <p>What counts as learning often:</p>
        <ul>
          <li>Necessitates a collective in the means and ends</li>
          <li>Involves transforming the ontology of objects from nouns to verbs</li>
        </ul>
        <a href="#"
          >Taking the patch perspective: A comparative analysis of a patch based participatory
          simulation (Vogelstein, L., & Brady, C. 2019, June)</a
        >
      </div>
    </div>
  </div>

  <!-- "More Info" modal (mobile only) -->
  <div id="circle-modal-mobile" class="circle-modal mobile">
    <!-- Populated via: JS -->
  </div>
</section>

<style>
  .mobile {
    display: block;
  }

  @media (min-width: 1100px) {
    .mobile {
      display: none;
    }
  }

  .desktop {
    display: none;
  }

  @media (min-width: 1100px) {
    .desktop {
      display: block;
    }
  }

  .diagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey);
  }

  .diagram > p {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }

  .diagram-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    width: clamp(300px, 80vw, 550px);
  }

  .circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(0px, 35vw, 250px);
    height: clamp(0px, 35vw, 250px);
    color: var(--color-black-faded);
    border: 1px solid var(--color-black-faded);
    border-radius: 50%;
    transition: background-color var(--transition-normal), color var(--transition-normal);
    cursor: pointer;
  }

  .circle > p {
    width: 100%;
    max-width: 150px;
    padding: 1rem;
    font-family: var(--font-cooper-bold);
    font-size: clamp(0.8rem, 4vw, 1rem);
    text-align: center;
  }

  .circle span {
    display: none;
  }

  @media (min-width: 550px) {
    .circle span {
      display: block;
    }
  }

  #learning-sciences {
    transform: translate(0, 18%);
    background-color: var(--color-light-pink-transparent);
  }

  #arts {
    transform: translate(10%, -10%);
    background-color: var(--color-purple-transparent);
  }

  #stem {
    transform: translate(-10%, -10%);
    background-color: var(--color-light-green-transparent);
  }

  #learning-sciences:hover,
  #arts:hover,
  #stem:hover {
    z-index: 1;
    color: var(--color-white);
  }

  #learning-sciences:hover {
    background-color: var(--color-light-pink);
  }

  #arts:hover {
    background-color: var(--color-purple);
  }

  #stem:hover {
    background-color: var(--color-light-green);
  }

  .circle-modal.learning-sciences a {
    color: var(--color-light-pink);
  }
  .circle-modal.arts a {
    color: var(--color-purple);
  }
  .circle-modal.stem a {
    color: var(--color-light-green);
  }

  /* (desktop) Line that points to modal on hover */

  @media (min-width: 1100px) {
    .circle::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 20%;
      background-color: var(--color-black-faded);
      border-radius: 10px;
      opacity: 0;
      transition: opacity var(--transition-normal);
    }

    .circle:hover::after {
      opacity: 1;
    }

    #learning-sciences::after,
    #arts::after {
      top: 10%;
      left: 4%;
      transform: rotate(-45deg) translate(50%, -50%);
    }

    #stem::after {
      top: 10%;
      right: 4%;
      transform: rotate(55deg) translate(50%, -50%);
    }
  }

  /* "More Info" modal */

  .circle-modal {
    padding: 1rem;
    background-color: var(--color-white);
    transition: var(--transition-normal);
  }

  .circle-modal.mobile {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
    transform: translateY(-1rem) scale(0.9);
  }

  .circle-modal.mobile.active {
    opacity: 1;
    transform: translate(0) scale(1);
    border-bottom: 2px solid var(--color-black-faded);
  }

  .circle-modal p,
  .circle-modal a:not(:last-child) {
    display: block;
    margin-bottom: 1rem;
  }

  .circle-modal p {
    text-decoration: underline;
    font-size: 1.2rem;
  }

  @media (min-width: 1100px) {
    .circle-modal {
      position: absolute;
      top: -10rem;
      right: 125%;
      width: 20vw;
      opacity: 0;
      visibility: hidden;
      color: var(--color-black-faded);
      border: 2px solid var(--color-black-faded);
      border-radius: 10px;
      transform: translateY(4px);
    }

    .circle-modal.stem {
      right: auto;
      left: 125%;
    }

    .circle-modal:hover {
      box-shadow: 0 0 10px var(--color-box-shadow);
    }

    .circle:hover .circle-modal {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }

    .circle-modal.learning-sciences:hover {
      border: 2px solid var(--color-light-pink);
    }
    .circle-modal.arts:hover {
      border: 2px solid var(--color-purple);
    }
    .circle-modal.stem:hover {
      border: 2px solid var(--color-light-green);
    }
  }
</style>

<script>
  // DOM elements
  const mobileModal = document.getElementById('circle-modal-mobile') as HTMLDivElement
  const circles = document.querySelectorAll('.circle') as NodeListOf<HTMLDivElement>
  const learningSciencesCircle = document.getElementById('learning-sciences') as HTMLDivElement
  const artsCircle = document.getElementById('arts') as HTMLDivElement
  const stemCircle = document.getElementById('stem') as HTMLDivElement

  // HTML data for modal
  const html = {
    learningSciences: `
    <p>Sense-making resources are often:</p>
    <ul>
      <li>Distributed across multiple moving bodies</li>
    </ul>
    <p>What counts as learning often:</p>
    <ul>
      <li>Necessitates a collective in the means and ends</li>
      <li>Involves transforming the ontology of objects from nouns to verbs</li>
    </ul>
    <a href="#">Taking the patch perspective: A comparative analysis of a patch based participatory simulation (Vogelstein, L., & Brady, C. 2019, June)</a>
  `,
    arts: `
    <p>Sense-making resources are often:</p>
    <ul>
      <li>In relation and response to other movers</li>
      <li>Cast as carnal and frivolous or intuitive and not rigorous</li>
    </ul>
    <p>What counts as learning often:</p>
    <ul>
      <li>Is felt through movement as much as it is observed</li>
      <li>Focuses on collective expressive potential</li>
      <li>Is not taken seriously</li>
    </ul>
    <a href="#">Professional dancers' collective inquiry practice, physical research (Vogelstein, 2020)</a>
    <a href="#">Professional dancers' use of physical research in a mathematically relevant context (Vogelstein, 2020)</a>
  `,
    stem: `
    <p>Sense-making resources are often:</p>
    <ul>
      <li>Located in individual minds</li>
      <li>Used to draw objective conclusions</li>
    </ul>
    <p>What counts as learning often:</p>
    <ul>
      <li>Amplifies hyper-individualism</li>
      <li>Centers normative and simplified views of correct thinking</li>
      <li>Fosters competitiveness</li>
    </ul>
    <a href="#">8th graders & STEM educators' ensemble mathematical activity in choreographic reenactment (Vogelstein, Brady, & Hall, 2019)</a>
  `,
  }

  // DOM helpers
  function resetModalStyling() {
    mobileModal.classList.remove('learning-sciences')
    mobileModal.classList.remove('arts')
    mobileModal.classList.remove('stem')
  }

  function handleLearningSciencesHover() {
    resetModalStyling()
    mobileModal.innerHTML = html.learningSciences
    mobileModal.classList.add('learning-sciences')
  }

  function handleArtsHover() {
    resetModalStyling()
    mobileModal.innerHTML = html.arts
    mobileModal.classList.add('arts')
  }

  function handleStemHover() {
    resetModalStyling()
    mobileModal.innerHTML = html.stem
    mobileModal.classList.add('stem')
  }

  function handleCircleHover() {
    mobileModal.classList.add('active')
  }

  function handleCircleMouseOut() {
    mobileModal.classList.remove('active')
    mobileModal.innerHTML = ''
  }

  // Event Listeners
  learningSciencesCircle.addEventListener('mouseover', handleLearningSciencesHover)
  artsCircle.addEventListener('mouseover', handleArtsHover)
  stemCircle.addEventListener('mouseover', handleStemHover)
  circles.forEach((circle) => {
    circle.addEventListener('mouseover', handleCircleHover)
    circle.addEventListener('mouseout', handleCircleMouseOut)
  })
</script>
