<div id="cv" class="cv">
  <!-- Close -->
  <button class="close">
    <svg
      width="159"
      height="184"
      viewBox="0 0 159 184"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><path d="M15 15L143.269 168.451" stroke-width="10" stroke-linecap="round"></path><path
        d="M15 168.455L143.263 15"
        stroke-width="10"
        stroke-linecap="round"></path></svg
    >
  </button>

  <!-- Content blocks (.content-container) -->

  <div class="content-container">
    <a href="/files/lauren-vogelstein-cv.pdf" aria-label="CV" download>Download CV Here</a>
    <p>
      I study how embodied theories of learning, informed by the expressive and artistic practices
      of dancers and choreographers, can reframe what is learned in STEM environments, how it can be
      learned collectively, and who is involved in expanding the pedagogical implications of this
      work. In other words, I study how people learn from an embodied and interactionist perspective
      in order to better design expansive STEM learning environments for students.
    </p>
  </div>

  <div class="content-container">
    <h2>Current Position</h2>
    <div class="space-between">
      <h3>Teachers College, Columbia University</h3>
      <p>Nov 2023-Aug 2024</p>
    </div>
    <p>Visiting Assistant Professor of Dance Education</p>
    <p>
      Affiliated Researcher Arnhold Institute for Dance Education Research, Policy, &amp; Leadership
    </p>
  </div>

  <div class="content-container">
    <h2>Previous Positions</h2>
    <div class="space-between">
      <h3>University of Pennsylvania</h3>
      <p>Nov 2023-Aug 2024</p>
    </div>
    <p>Postdoctoral Associate</p>
    <div class="space-between">
      <p>
        Engaging High School Youth in Algorithmic Justice Through Audits of Designed and Everyday
        Machine Learning Applications
      </p>
      <p>NSF Funded Grant</p>
    </div>
    <p>
      PIs Yasmin Kafai (University of Pennsylvania) &amp; Danaë Metaxa (University of Pennsylvania)
    </p>

    <div class="space-between">
      <h3>New York University</h3>
      <p>2022-2023</p>
    </div>
    <p>Postdoctoral Associate</p>
    <div class="space-between">
      <p>Participating in Literacies & Computer Science (PiLa-CS)</p>
      <p>NSF Funded Grant</p>
    </div>
    <div class="space-between">
      <p>Equity Centered Learning Environments Collaborative</p>
      <p>Lucas Foundation Funded Initiative</p>
    </div>
    <p>
      PIs Christopher Hoadley (SUNY Buffalo), Jasmine Ma (NYU), & Laura Ascenzi-Moreno (Brooklyn
      College)
    </p>
  </div>

  <div class="content-container">
    <h2>Education</h2>
    <div class="space-between">
      <h3>Vanderbilt University</h3>
      <p>2022</p>
    </div>
    <p>PhD Learning and Design</p>
    <p>
      <em
        >Dissertation: Choreographic ways of knowing as generative sites for STEM learning, design,
        and analysis</em
      >
    </p>
    <p>
      Committee: Dr. Rogers Hall (co-chair), Dr. Corey Brady (co-chair), Dr. Noel Enyedy, & Dr.
      Dionne Champion
    </p>

    <div class="space-between">
      <h3>Northwestern University</h3>
      <p>2016</p>
    </div>
    <p>MA Learning Sciences</p>
    <p>
      <em
        >Thesis: Lucy the Chipmunk Defender: Embodied learning on the elementary school playground</em
      >
    </p>
    <p>Advisor: Dr. Reed Stevens</p>

    <div class="space-between">
      <h3>Fordham University/The Alvin Ailey School</h3>
      <p>2013</p>
    </div>
    <p>BS Mathematics</p>
    <p>BFA Dance <em>Concentration: Choreography</em></p>
  </div>

  <div class="content-container">
    <h2>Recent Research Milestones</h2>
    <h3>Recent Grant Funding</h3>
    <p>
      $858,997, Co-PI - Applying a complex systems perspective to investigate the relationship
      between choreography and agent-based modeling as tools for scientific sense-making (NSF Funded
      AISL - 2021-2024, Dr. Dionne Champion PI, <strong>Lauren Vogelstein (Co-PI)</strong> & Aditi Wagh
      (Co-PI) <a
        href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2115773&HistoricalAwards=false"
        target="_blank"
        rel="noopener"
        >https://www.nsf.gov/awardsearch/showAward?AWD_ID=2115773&HistoricalAwards=false</a
      >
    </p>

    <h3>Selected Publications</h3>
    <p>
      Sengupta-Irving, T., <strong>Vogelstein, L.</strong>, Brady, C., Phillips-Galloway, E. (2022).
      Prolepsis &amp; telos: Interpreting pedagogy and recovering the role of imagination in the
      mediation of youth learning. <em>Journal of the Learning Sciences.</em>
    </p>
    <p>
      <strong>Vogelstein, L.</strong>, Brady, C., & Hall, R. (2019). Reenacting mathematical
      concepts found in large-scale dance performance can provide both material and method for
      ensemble learning. <em>ZDM Mathematics Education 51(2).</em>
      <a
        href="https://link.springer.com/article/10.1007/s11858-019-01030-2"
        target="_blank"
        rel="noopener">https://link.springer.com/article/10.1007/s11858-019-01030-2</a
      >
    </p>
    <p>
      <strong>Vogelstein, L.</strong>(2021). <em
        >Mathematical physical research: Mathematical agency in the practices of professional
        dancers.</em
      > Proceedings of the International Society of the Learning Sciences Annual Meeting 2021 (pp. 299-306).
      Best student paper nominee for Learning Sciences. <a
        href="https://drive.google.com/file/d/1NuYhdOKDgpp_omNH6qXKYmAh2G5_c9iv/view"
        target="_blank"
        rel="noopener">https://drive.google.com/file/d/1NuYhdOKDgpp_omNH6qXKYmAh2G5_c9iv/view</a
      >
    </p>
  </div>

  <div class="content-container">
    <h2>Peer Reviewed Journal Articles</h2>
    <p>
      Sengupta-Irving, T., <strong>Vogelstein, L.</strong>, Brady, C., Phillips-Galloway, E. (2022).
      Prolepsis & telos: Interpreting maker pedagogy, the role of creativity, and the power of
      imagined futures. <em>Journal of the Learning Sciences.</em>
      <a
        href="https://www.tandfonline.com/doi/full/10.1080/10508406.2022.2114833"
        target="_blank"
        rel="noopener">https://www.tandfonline.com/doi/full/10.1080/10508406.2022.2114833</a
      >
    </p>
    <p>
      Steinberg, S., Gresalfi, M., <strong>Vogelstein, L.</strong>, & Brady, C. (2022). Coding
      choreography: Understanding student responses to representational incompatibilities between
      dance and programming. <em>Journal of Research on Technology in Education</em>, 1-18. <a
        href="https://www.tandfonline.com/doi/full/10.1080/15391523.2022.2135144"
        target="_blank"
        rel="noopener">https://www.tandfonline.com/doi/full/10.1080/15391523.2022.2135144</a
      >
    </p>
    <p>
      <strong>Vogelstein, L.</strong>, Brady, C., & Hall, R. (2019). Reenacting mathematical
      concepts found in large-scale dance performance can provide both material and method for
      ensemble learning.
      <em>ZDM Mathematics Education</em> 51(2). <a
        href="https://link.springer.com/article/10.1007/s11858-019-01030-2"
        target="_blank"
        rel="noopener">https://link.springer.com/article/10.1007/s11858-019-01030-2</a
      >
    </p>
    <p>
      Brady, C., Blough, R., Hollister, K., Jordan, P., Marshall, S. A., Nichols, I., <strong
        >Vogelstein, L.</strong
      >, & Wisittanawat, P. (2019). Clockface polygons and the collective joy of making mathematics
      together. <em>Mathematics Enthusiast</em>, 16(1), 75-106. <a
        href="https://scholarworks.umt.edu/cgi/viewcontent.cgi?article=1451&context=tme"
        target="_blank"
        rel="noopener">https://scholarworks.umt.edu/cgi/viewcontent.cgi?article=1451&context=tme</a
      >
    </p>
    <p>
      Barker, A., Swinarski, D., <strong>Vogelstein, L.</strong>, & Wu, J. (2015). A new proof of a
      formula for the type A 2 fusion rules. <em>Journal of Mathematical Physics</em>, 56(1),
      011703. <a href="https://arxiv.org/pdf/1408.4353.pdf" target="_blank" rel="noopener"
        >https://arxiv.org/pdf/1408.4353.pdf</a
      >
    </p>
    <p>
      <strong>Vogelstein, L.</strong> (2012). The Graham Trials: Preserving the Past for the Future.
      <em>Nartanam</em>, 12(1).
    </p>
  </div>

  <div class="content-container">
    <h2>Manuscripts Currently Under Review</h2>
    <p>* = graduate student co-author; ^ = artist co-author</p>
    <ol>
      <li>
        <strong>Vogelstein, L.</strong>, ^Steinberg, R., ^Thomas, C., & Brady, C. (Under Review,
        Revise & Resubmit). Interdisciplinary Collaboration in Design Research: A process of
        composing across design, analysis, and relations. <em>Cognition & Instruction.</em>
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, &amp; McBride, C. (Under Review). Expansive Computing
        Pedagogies in the Boundaries: Teacher sensemaking with respect to students' experiences of
        discontinuities towards expansive learning.
        <em>Mind, Culture, &amp; Activity.</em>
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Morales-Navarro, L., Kafai, Y., &amp; Metaxa, D. (Under
        Review). Understanding Youth Emergent Auditing Practices for Computational Empowerment.
        <em>International Journal of Child-Computer Interaction.</em>
      </li>
      <li>
        *Jen, T., Brady, C., & <strong>Vogelstein, L.</strong> (Under Review, Revise & Resubmit). Youth
        as designers of embodied participatory simulations of ecosystems: Negotiating shared visions
        of thinking, acting, and feeling for sustainability. <em
          >Journal of Science Education & Technology.</em
        >
      </li>
    </ol>
  </div>

  <div class="content-container">
    <h2>Peer Reviewed Conference Proceedings</h2>
    <p>
      * = graduate student co-author; ** = undergraduate student co-author; ^ = artist co-author
    </p>
    <ol>
      <li>
        <strong>Vogelstein, L.</strong>, Champion, C., Wagh, A., & Appleby, L. (2024) Growing into
        Collective Forms of Scientific Inquiry: The dignifying affirmation of timid, half-baked
        ideas. <em
          >To be published in the proceedings of the International Society of the Learning Sciences
          Annual Meeting 2024.</em
        >
      </li>
      <li>
        Wagh, A., <strong>Vogelstein, L.</strong>, & Champion, D. (2024). Fused Representations:
        Linking Choreographic and Digital NetLogo Modeling through Intermodal Inquiry. <em
          >To be published in the proceedings of the International Society of the Learning Sciences
          Annual Meeting 2024.</em
        >
      </li>
      <li>
        <strong>Vogelstein, L.</strong> (2024). The Emotional Toll of Proleptic Imagining on the Job
        Market: When possible futures are crushed. <em
          >To be published in the proceedings of the International Society of the Learning Sciences
          Annual Meeting 2024.</em
        >
      </li>
      <li>
        <strong>Vogelstein, L.</strong> (2024). Using Choreographic Lenses to Provide Evidence of (Embodied)
        Learning: Pushing beyond word-based evidence of changes in participation. In <strong
          >Vogelstein, L.</strong
        >
        & Woods, P. symposium, Doing Learning Sciences Research In & Through the Arts. <em
          >To be published in the proceedings of the International Society of the Learning Sciences
          Annual Meeting 2024.</em
        >
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Ma, J. Y., Vogel, S., Radke, S., Hoadley, C.,
        Ascenzi-Moreno, L., Barrales, W., *Wy, J., & *Wu, F. (2024). “An interesting mental
        exercise”: Making space for teachers' syncretic pedagogical content knowledge. In Jones, K.,
        & McBride, C. symposium, Applying Syncretic Frameworks in the Learning Sciences. <em
          >To be published in the proceedings of the International Society of the Learning Sciences
          Annual Meeting 2024.</em
        >
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, ^Burley, X., ^Springer, A., Champion, D., Wagh, A.,
        ^Steinberg, R., & ^Varone, D. (2024). Leveraging co-analysis to disrupt normative citation
        practices in interdisciplinary collaborations with artists. In Pierson, A., & Keifert, D. T.
        symposium, Co-Research in Video Analysis: Shifts Towards Ethical Validity. <em
          >To be published in the proceedings of the International Society of the Learning Sciences
          Annual Meeting 2024.</em
        >
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, ^Steinberg, R., ^Thomas, C., Champion, D., Wagh, A., &
        Appleby, L. (2024). Cultivating care through choreographic forms of interaction analysis. In
        Love, C. & Jen, T. symposium, Caring Relations Across Interaction Analysis Labs. <em
          >To be published in the proceedings of the International Society of the Learning Sciences
          Annual Meeting 2024.</em
        >
      </li>
      <li>
        Brady, C. & <strong>Vogelstein, L.</strong> (2023). Epistemic Rekeying: Epistemic tensions across
        disciplines as opportunities for artistic response. In <em
          >Proceedings of the Annual Conference of the North American Chapter of the International
          Group for the Psychology of Mathematics Education 2023 Volume 2</em
        >, 301-309.
        <a
          href="https://www.pmena.org/pmenaproceedings/PMENA%2045%202023%20Proceedings%20Vol%202.pdf"
          target="_blank"
          rel="noopener"
          >https://www.pmena.org/pmenaproceedings/PMENA%2045%202023%20Proceedings%20Vol%202.pdf</a
        >
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, McBride, C., Ma, J., Wilkerson, M., Vogel, S., *Barrales,
        W., Ascenzi-Moreno, L., Hoadley, C., & Gutiérrez, K. (2023). Storytelling “in theory”:
        Re-imagining computational literacies through the lenses of syncretism and translanguaging.
        In <em
          >Proceedings of the International Society of the Learning Sciences Annual Meeting 2023
          ICLS</em
        >, 800-807. <a
          href="https://repository.isls.org/handle/1/10331"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/10331</a
        >
      </li>
      <li>
        **James, S., <strong>Vogelstein, L.</strong>, Ma, J., Vogel, S., *Barrales, W.,
        Ascenzi-Moreno, L., & Hoadley, C. (2023). Research as Relational: Stories of ever-present
        learning between undergraduate research interns and project researchers. In <em
          >Proceedings of the International Society of the Learning Sciences Annual Meeting 2023
          ICLS</em
        >, 617-624. Nominated for best student paper award.
        <a href="https://repository.isls.org/handle/1/10306" target="_blank" rel="noopener"
          >https://repository.isls.org/handle/1/10306</a
        >
      </li>
      <li>
        *Jen, T., Brady, C., <strong>Vogelstein, L.</strong>, & *Ayalon, E. (2023). Designing for
        feelings: Disruptive beginnings in youths' designs of mixed reality activities for
        sustainability. In <em
          >Proceedings of the International Society of the Learning Sciences Annual Meeting 2023
          ICLS</em
        >, 950-953. <a
          href="https://repository.isls.org/handle/1/10367"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/10367</a
        >
      </li>
      <li>
        *Blake, A., Chen, G., Ostrowdun, C., *Thomas, C., <strong>Vogelstein, L.</strong>, Radke,
        S., Krishnamoorthy, R., *Saba Fisher, K., Kelton, M., & Ma, J. (2023). Contesting with
        feeling: Childhood in and through public education. In <em
          >Proceedings of the International Society of the Learning Sciences Annual Meeting 2023
          ICLS</em
        >, 1150-1153. <a
          href="https://repository.isls.org/handle/1/9866"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/9866</a
        >
      </li>
      <li>
        Ma, J. Y., Ostrowdun, C., <strong>Vogelstein, L.</strong>, & *Blake, A. R. (2023). “We
        cannot sacrifice one child for another”: Articulations toward public theories of learning.
        In Gargroetzi, E. C. & Jones, K. symposium, What schooling is and what it could be:
        Exploring how we learn the discourses and technologies of public education in
        school-adjacent spaces. In <em
          >Proceedings of the International Society of the Learning Sciences Annual Meeting 2023
          ICLS</em
        >, 1666-1675. <a
          href="https://repository.isls.org/handle/1/9988"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/9988</a
        >
      </li>
      <li>
        Ma, J.M., *Velmaur, A., *Turan, N., *Blake, A., R., <strong>Vogelstein, L.</strong>, Kelton,
        M. L., & Barrales, W. (2023). Public common-sense assumptions about mathematics: racing in a
        ma(th)rathon. To be <em
          >published in proceedings of Mathematics Education & Society Annual Meeting 2023 MES</em
        >.
      </li>
      <li>
        Echevarria, R., <strong>Vogelstein, L.</strong>, & Jackson, A. (2022). Moments of
        Pedagogical Feedback with Explanations: Foundations for supporting educational dignity. In
        <em
          >Proceedings of the International Society of the Learning Sciences Annual Meeting 2022
          ICLS</em
        >, 1585-1588. <a
          href="https://repository.isls.org/handle/1/8546"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/8546</a
        >
      </li>
      <li>
        Mathayas, N., Xintian, T., Danish, J., <strong>Vogelstein, L.</strong>, & Cosic, L. (2022).
        Building meaningful participation using embodied Mixed Reality technologies. In <strong
          >Vogelstein, L.</strong
        > & Mathayas, N. symposium, Moving toward dignity-affirming invitations to embodied participation
        in the design of learning environments. In <em
          >Proceedings of the International Society of the Learning Sciences Annual Meeting 2022
          ICLS</em
        >, 1739-1746. <a
          href="https://repository.isls.org/handle/1/8579"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/8579</a
        >
      </li>
      <li>
        Brady, C., <strong>Vogelstein, L.</strong>, Jen, T., & Dim, E. (2022). The Design of
        Embodied Participatory Simulations as a Collaborative Learning Environment. In <em
          >Proceedings of the International Society of the Learning Sciences Annual Meeting 2022
          CSCL</em
        >, 203-210. <a
          href="https://repository.isls.org/handle/1/8277"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/8277</a
        >
      </li>
      <li>
        Brady, C., Jen, T., <strong>Vogelstein, L.</strong>, & Dim, E. (2022). Designing with
        Feeling: How students constructed participatory simulations for groups of young learners to
        understand and care about sustainability in ecosystems. In <em
          >Proceedings of the 2022 Conference on Interaction Design and Children</em
        >, 315-326. <a
          href="https://dl.acm.org/doi/pdf/10.1145/3501712.3529725"
          target="_blank"
          rel="noopener">https://dl.acm.org/doi/pdf/10.1145/3501712.3529725</a
        >
      </li>
      <li>
        Brady, C., <strong>Vogelstein, L.</strong>, Gresalfi, M., Knowe, M. (2021). Circular
        reasoning: Shifting epistemological frames across mathematics and coding activities. In
        <em>Proceedings of the Psychology of Mathematics Education North American Chapter</em> annual
        meeting, Philadelphia, PA, 1182-1190. <a
          href="https://www.pmena.org/pmenaproceedings/PMENA%2043%202021%20Proceedings.pdf"
          target="_blank"
          rel="noopener"
          >https://www.pmena.org/pmenaproceedings/PMENA%2043%202021%20Proceedings.pdf</a
        >
      </li>
      <li>
        <strong>Vogelstein, L.</strong> (2021). Mathematical physical research: Mathematical agency in
        the practices of professional dancers. <em
          >Proceedings of the International Society of the Learning Sciences Annual Meeting 2021</em
        >, 299-306. Nominated for best student paper award.
        <a href="https://repository.isls.org/handle/1/7480" target="_blank" rel="noopener"
          >https://repository.isls.org/handle/1/7480</a
        >
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Brady, C., ^Steinberg, R., & ^Thomas, C. (2021). Developing
        computational double awareness through rule-based dance games. In <strong
          >Vogelstein, L.</strong
        > & Solomon, F. symposium, Embodying, STEM: Learning at the Intersection of Dance and STEM. In
        <em
          >Proceedings of the International Society of the Learning Sciences Annual Meeting 2021</em
        >, 819-826. <a
          href="https://repository.isls.org/handle/1/7588"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/7588</a
        >
      </li>
      <li>
        Vogelstein. L., Brady, C., ^Steinberg, R., ^Thomas, C. (2021). Flares in the soup game:
        Improvisational collective choreography and computational expressivity. In Wagh, A. &
        Dickies, A. symposium, Expansive Modeling: Broadening the scope of modeling in K-12
        education. In <em
          >Proceedings of the International Society of the Learning Sciences Annual Meeting 2021</em
        >, 832-833. <a
          href="https://repository.isls.org/handle/1/7589"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/7589</a
        >
      </li>
      <li>
        Brady, C., & <strong>Vogelstein, L.</strong> (2020) Patches as an expressive medium for agent-based
        modeling and programming. <em>Proceedings of Constructionism</em>, 2020, 436-448.
        <a
          href="https://www.constructionismconf.org/wp-content/uploads/2020/05/C2020-Proceedings.pdf"
          target="_blank"
          rel="noopener"
          >https://www.constructionismconf.org/wp-content/uploads/2020/05/C2020-Proceedings.pdf</a
        >
      </li>
      <li>
        <strong>Vogelstein, L.</strong> (2020) Physical research: Professional dancers exploring collective
        possibilities in a solidifying substrate. <em
          >Proceedings of the International Conference of the Learning Sciences</em
        >, 2020, 737-739. <a
          href="https://repository.isls.org/handle/1/6741"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/6741</a
        >
      </li>
      <li>
        <strong>Vogelstein, L.</strong> & Hall, R. (2020). The push that never made sense to me: the
        substrate of dancers' professional intrinsic and extrinsic vision. In Keifert, D. T. & Enyedy,
        N. symposium, Analytical designs: Goodwin's substrates as a tool for studying learning. In
        <em>proceedings of the International Conference of the Learning Sciences</em>, 2020,
        1471-1478. <a
          href="https://repository.isls.org/handle/1/6352"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/6352</a
        >
      </li>
      <li>
        Jackson, A., <strong>Vogelstein, L.</strong>, Clark, H., Lindberg, L., Thompson, N., &
        Uttamchandani, S. (2020). Learning together: Reflections at the intersection of friendship,
        research, and learning processes. <em
          >Proceedings of the International Conference of the Learning Sciences</em
        >, 2020, 657-660. <a
          href="https://repository.isls.org/handle/1/6720"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/6720</a
        >
      </li>
      <li>
        Vogelstein, L & Radke, S. (2020). Making use of video for other purposes: When participants
        use video data as part of their practice. In Hennessey Elliott, C. & Radke, S. symposium,
        Whose video?: Surveying implications for participants engagement in video recording
        practices in ethnographic research. In <em
          >proceedings of the International Conference of the Learning Sciences</em
        >, 2020, 414-421. <a
          href="https://repository.isls.org/handle/1/6666"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/6666</a
        >
      </li>
      <li>
        Sengupta-Irving, T., <strong>Vogelstein, L.</strong>, Brady C., Galloway, E. P., (2020) The
        pedagogical moves of artist mentors in a public library makerspace. <em
          >Proceedings of the International Conference of the Learning Sciences</em
        >, 2020, 2297-2299. <a
          href="http://repository.isls.org/handle/1/6536"
          target="_blank"
          rel="noopener">http://repository.isls.org/handle/1/6536</a
        >
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, & Brady, C. (2019). Taking the patch perspective: A
        Comparative analysis of a patch based participatory simulation. In <em
          >Proceedings of the 2019 Conference on Computer Supported Collaborative Learning</em
        > Lyon, France, 512-519. <a
          href="http://repository.isls.org/handle/1/1611"
          target="_blank"
          rel="noopener">http://repository.isls.org/handle/1/1611</a
        >
      </li>
      <li>
        Gresalfi, M., Bell, A., Brady, C., & <strong>Vogelstein, L.</strong> (2019). Same place, new
        rules: The joint accomplishment of engagement. In Cheng, B. H. symposium, Theorizing and measuring
        collective productive disciplinary engagement. In <em
          >Proceedings of the 2019 Conference on Computer Supported Collaborative Learning</em
        >, Lyon, France, 775-782. <a
          href="https://repository.isls.org/handle/1/4504"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/4504</a
        >
      </li>
      <li>
        Chapman, K., Jasien, L., Reimer, P., & <strong>Vogelstein, L.</strong> (2019). Discussant for
        symposium, Designing for Productive Problem Posing in Informal STEM Spaces. In <em
          >Proceedings of the 2019 Conference on Computer Supported Collaborative Learning</em
        >, Lyon, France, 791-798. <a
          href="https://repository.isls.org/handle/1/4506"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/4506</a
        >
      </li>
      <li>
        Hall, R., & <strong>Vogelstein, L.</strong> (2018). How did they do that? Using video-elicited
        re-enactments to invite ensemble learning in mathematical activity. In Nemirovsky, R. symposiym
        Video Data and the Learning Event: Four Case Studies. In <em
          >Proceedings of the International Conference of the Learning Sciences</em
        >, London, England, 1195-1202. <a
          href="https://repository.isls.org/bitstream/1/593/1/266.pdf"
          target="_blank"
          rel="noopener">https://repository.isls.org/bitstream/1/593/1/266.pdf</a
        >
      </li>
      <li>
        Sengupta-Irving, T., & <strong>Vogelstein, L.</strong> (2018). Mentors in the making: A case
        study of heterogeneity in meaning making at a public library makerspace. In <em
          >Proceedings of the International Conference of the Learning Sciences</em
        >, London, England, 1693-1694. <a
          href="https://repository.isls.org/handle/1/807"
          target="_blank"
          rel="noopener">https://repository.isls.org/handle/1/807</a
        >
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Brady, C., & Hall, R. (2017). Putting our bodies on the
        line: Mathematizing ensemble performances. In <em
          >Proceedings of the Psychology of Mathematics Education North American Chapter</em
        > annual meeting, Indianapolis, IA, 383-386. <a
          href="http://www.pmena.org/pmenaproceedings/PMENA%2039%202017%20Proceedings.pdf"
          target="_blank"
          rel="noopener"
          >http://www.pmena.org/pmenaproceedings/PMENA%2039%202017%20Proceedings.pdf</a
        >
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Brady, C., & Hall, R. (2017). Mathematical reflections: The
        design potential of ensemble performance. In <em
          >Proceedings of the 2017 Conference on Interaction Design and Children</em
        >, 583-588. <a
          href="https://dl.acm.org/doi/abs/10.1145/3078072.3084328"
          target="_blank"
          rel="noopener">https://dl.acm.org/doi/abs/10.1145/3078072.3084328</a
        >
      </li>
    </ol>
  </div>

  <div class="content-container">
    <h2>Manuscripts Currently In Preparation</h2>
    <ol>
      <li>
        <strong>Vogelstein, L.</strong> (In preparation for JLS) Physical research: The design potential
        of embodied ensemble mathematical choreography.
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Champion, D, &amp; Wagh, A. (In preparation for Science
        Education to submit Winter 2025). Moving Through Uncertainty: The case of Liquid
        Architecture as expansive dance-science activity &amp; pedagogy.
      </li>
      <li>
        Wagh, A., <strong>Vogelstein, L.</strong>, Champion, D. (In preparation for IJCSCL to submit
        Spring 2025). Fused Representations: Linking Choreographic and Digital NetLogo Modeling
        through Intermodal Inquiry.
      </li>
      <li>
        Hall, R., <strong>Vogelstein, L.</strong>, Shapiro, B. R., &amp; Erickson, F. (In
        preparation for JLS to submit Spring 2025). In the body of analysts: Reenactment and
        embodiment as important tools for Interaction Analysis.
      </li>
      <li>
        Brady C., &amp; <strong>Vogelstein, L.</strong> (In preparation for JLS). Epistemic re-keying:
        Transforming interdisciplinary tensions into opportunities for students to engage in playful
        artistic expression.
      </li>
      <li>
        Brady, C. &amp; <strong>Vogelstein, L.</strong> (In preparation for MCA). Artistic practices
        as expanding the potential of Vygotskian double stimulation experiments.
      </li>
      <li>
        Everyday IA Collective: DeLima, D., Elliott, C. E., Marin, A., Radke, S., Shapiro, B. R.,
        Silvis, D., &amp; <strong>Vogelstein, L.</strong> (In preparation for JLS to submit Fall 2024).
        Everyday Video Analysis: Political and ethical dimensions of engaging in video-based data analysis
        in today's age of media production, consumption, and analysis.
      </li>
    </ol>
  </div>

  <div class="content-container">
    <h2>Research Experience</h2>
    <div class="space-between">
      <h3>Postdoctoral Associate</h3>
      <p>2023-2024</p>
    </div>
    <p>
      RAPID: Engaging High School Youth in Algorithmic Justice Through Audits of Designed and
      Everyday Machine Learning Applications (NSF Funded, Dr. Yasmin Kafai P &, Dr. Danaë Metaxa
      Co-PI) <a
        href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2333469&HistoricalAwards=false"
        target="_blank"
        rel="noopener"
        >https://www.nsf.gov/awardsearch/showAward?AWD_ID=2333469&HistoricalAwards=false</a
      >
    </p>
    <div class="space-between">
      <h3>Postdoctoral Associate</h3>
      <p>2022-2024</p>
    </div>
    <p>
      Participating in Literacies & Computer Science (PiLa-CS) (NSF Funded, Dr. Christopher Hoadley
      PI, Dr. Jasmine Ma & Dr. Laura Ascenzi-Moreno Co-PIs) <a
        href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1837446"
        target="_blank"
        rel="noopener">https://www.nsf.gov/awardsearch/showAward?AWD_ID=1837446</a
      >
    </p>
    <div class="space-between">
      <h3>Postdoctoral Associate</h3>
      <p>2022-2024</p>
    </div>
    <p>
      Equity Centered Learning Environments Collaborative (George Lucas Educational Foundation
      Funded, Dr. Christopher Hoadley, Dr. Michelle Wilkerson, Dr. Kris Gutiérrez, Dr. Shirin
      Vossoughi, Dr. Paula Hooper, & Dr. Arturo Cortez PIs)
    </p>
    <div class="space-between">
      <h3>Co-Principal Investigator</h3>
      <p>2021-2024</p>
    </div>
    <p>
      The body as a tool for science learning and research: Utilizing choreography and agent-based
      models to study scientific phenomena (NSF Funded AISL - $858,997, Dr. Dionne Champion PI,
      Lauren Vogelstein & Aditi Wagh Co-PIs) <a
        href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2115773&HistoricalAwards=false"
        target="_blank"
        rel="noopener"
        >https://www.nsf.gov/awardsearch/showAward?AWD_ID=2115773&HistoricalAwards=false
      </a>
    </p>
    <div class="space-between">
      <h3>Postdoctoral Associate</h3>
      <p>2021-Present</p>
    </div>
    <p>Public Education Engagement (PEE) (Dr. Jasmine Ma & Molly Kelton PIs)</p>
    <div class="space-between">
      <h3>Research Assistant</h3>
      <p>2021-2022</p>
    </div>
    <p>GEM STEP (NSF Funded, Dr. Noel Enyedy, Dr. Corey Brady, & Dr. Joshua Danish PIs)</p>
    <div class="space-between">
      <h3>Research Assistant</h3>
      <p>2017-2021</p>
    </div>
    <p>
      Foregrounding Agency Versus Structure as Models for Designing Integrated Mathematics and
      Computational Thinking Curriculum - CAMPS Project (NSF Funded, Dr. Melissa Gresalfi & Dr.
      Corey Brady PIs)
    </p>
    <div class="space-between">
      <h3>Doctoral Student Principal Investigator</h3>
      <p>2019-2020</p>
    </div>
    <p>NSF INTERN Grant, supplemental to the Foregrounding Agency project</p>
    <div class="space-between">
      <h3>Research Assistant</h3>
      <p>2017-2028</p>
    </div>
    <p>
      The Making of Expansive Possibilities (Peabody College small grant, Dr. Tesha Sengupta-Irving,
      Dr. Corey Brady, & Dr. Emily Phillips Galloway PIs)
    </p>
  </div>

  <div class="content-container">
    <h2>Peer Reviewed Conference Presentations</h2>
    <ol>
      <li>
        <strong>Vogelstein, L.</strong>, &amp; Bashaw, B., &amp; Henley, M. (October, 2024). <em
          >Dance-Based Ways of Demonstrating (Science) Learning in Interaction (Without Words)</em
        >. The 12th Annual Meeting of the Language and Social Interaction Working Group New York,
        NY.
      </li>
      <li>
        Wagh, A., <strong>Vogelstein, L.</strong>, & Champion, D. (March, 2024). <em
          >Fused Representations: Linking Computational Embodied and Digital Models through
          Intermodal Inquiry</em
        >. To be presented at the National Association for Research and Science Teaching Annual
        Conference Denver, CO.
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Vogel, S., Ma, J. Y., Hoadley, C., Ascenzi-Moreno, L., &
        Barrales, W. (April, 2024). <em
          >In-Service CS Teachers' & Researchers' Notions of Equity in a Professional Learning
          Community</em
        >. To be presented at the 2024 American Education Research Association Conference
        Philadelphia, PA.
      </li>
      <li>
        Radke, S. & <strong>Vogelstein, L.</strong> (October, 2023). <em
          >Other People and Places: Cross-case analysis of location indexing and perspective taking
          in argumentation</em
        >. The 11th Annual Meeting of the Language and Social Interaction Working Group New York,
        NY.
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Vogel, S., Hoadley, C., Radke, S. C., Ascenzi-Moreno, L.,
        Ma, J. Y., Barrales, W., & James, S. (2023, April). <em
          >Moving Towards Syncretic Literacies to Validate Student Sense-Making in
          Computing-Integrated Language Arts</em
        >. 2023 American Education Research Association Conference Chicago, IL.
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Vogel, S., Barrales, W., Ascenzi-Moreno, L., Hoadley, C., &
        Ma, J. (2022, April). <em
          >Translanguaging Towards More Expansive Computing Education: Reflections from a
          Professional Learning Community</em
        >. 2022 American Education Research Association Conference San Diego, CA.
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Clark, H., Sandoval, W., Champion, D., Wagh, A., Scipio,
        D., Pierson, A., Keifert, D., Daniel, B., & Brady, C. (2022, April). <em
          >Conjecture Mapping: New Approaches to broadening processes of educational design research</em
        >. Chair and paper presenter of symposium at the 2022 American Education Research
        Association Conference San Diego, CA.
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Brady, C., Thomas, C., & Steinberg, R. (2022, April).
        <em>Choreographies of Care: Small group relations as mediating larger group sensemaking</em
        >. 2022 American Education Research Association Conference San Diego, CA.
      </li>
      <li>
        Silvis, D., Krishhanmoorthy, R., Ma, J., Elliott, CH., Marin, A., Taylor, KH., Shapiro, BR.,
        DeLiema, D., <strong>Vogelstein, L.</strong>, Radke, S., Keifert, D., Lindberg, L., Vea, T.,
        Brady, C., & Hall, R. (April, 2022). <em
          >What's Next for Interaction Analysis of Learning?: Aligning analytic approaches with
          theoretical turns</em
        >. Co-author of two papers in working roundtable at the 2022 American Education Research
        Association Conference San Diego, CA.
      </li>
      <li>
        <strong>Vogelstein, L.</strong> (2020, November). <em
          >Exploring the “with whom” in the analysis process: Broadening our perspectives to include
          interdisciplinary co-designers</em
        >. Published in the proceedings of the 2020 Learning Sciences Graduate Student Conference,
        Madison, WI.
      </li>
      <li>
        <strong>Vogelstein, L.</strong> (2019, November). <em
          >Embodying full personhood in education: What educators can learn from the practices of
          professional dances</em
        >. Paper presented at the 9th Conference on Education and Social Justice, Honolulu, Hawai'i.
      </li>
      <li>
        Sengupta-Irving, T., & <strong>Vogelstein, L.</strong> (2019, April). <em
          >Democratizing what: A case study of how mentors in a public library makerspace organize
          toward expansive possibilities.</em
        >
        Paper presented at the American Education Research Association annual meeting, Toronto, Canada.
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Hall, R., & Brady, C. (2019, April). <em
          >Physical research: The mathematical potential of dancers professional practices</em
        >. Paper presented at the American Education Research Association annual meeting, Toronto,
        Canada.
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Hall, R., & Brady, C. (2019, April). <em
          >Unfolding joy: Expressive mathematics in ensemble performance</em
        >. Poster presented at the American Education Research Association annual meeting, Toronto,
        Canada.
      </li>
      <li>
        <strong>Vogelstein, L.</strong> (2018, October). <em
          >An aesthetics of (dis)order in context</em
        >. Paper presented at the American Educational Studies Conference, Greenville, SC.
      </li>
      <li>
        <strong>Vogelstein, L.</strong> (2018, October). <em
          >Physical research: Professional dancers' use of multi-modal choreographic resources in
          structuring physical inquiry</em
        >. Paper presented at Learning Sciences Graduate Student Conference annual meeting,
        Nashville, TN.
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Brady, C., & Hall, R. (2017, June). <em
          >Embodied mathematical technologies: Making sense of ensemble-based embodied mathematical
          thinking and learning</em
        >. Paper presented at Jean Piaget Society annual meeting, San Francisco, CA.
      </li>
      <li>
        <strong>Vogelstein, L.</strong> (2017, October). <em
          >Ensemble performance as expressive mathematics</em
        >. Poster presented at Learning Sciences Graduate Student Conference annual meeting,
        Bloomington, IN.
      </li>
      <li>
        <strong>Vogelstein, L.</strong> (2016, October). <em
          >Lucy the chipmunk defender: Embodied learning in figured worlds at recess</em
        >. Poster presented at Learning Sciences Graduate Student Conference annual meeting,
        Chicago, IL.
      </li>
    </ol>
  </div>

  <div class="content-container">
    <h2>Invitations & Accepted Conference Workshops</h2>
    <ol>
      <li>
        Gresalfi, M., Brady, C., <strong>Vogelstein, L.</strong>, Kafai, Y., Weintrop, D., Parks,
        A., Bell, A., Knowe, M., Love, C., & Steinberg, S. (2021, October). Exploring productive
        struggle in mathematically-rich contexts. In <em
          >Proceedings of the Psychology of Mathematics Education North American Chapter</em
        > annual meeting, Philadelphia, PA.
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Champion, D., Lindberg, L. (2020, June) <em
          >Interdisciplinary inquiry into dance & STEM: Collaboration and creativity to further
          designs for STEM learning</em
        >. Workshop accepted for the International Conference of the Learning Sciences 2020
        (Canceled due to virtual nature of conference).
      </li>
      <li>
        Hall, R., <strong>Vogelstein, L.</strong>, Vossoughi, S., R., & Echevarria, R. (2019,
        September). <em>Interaction analysis workshop</em>. Workshop presented at Learning Sciences
        Graduate Student Conference annual meeting, Evanston, IL.
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Lindberg, L., Hall, R., & Brady, C. (2019, August).
        <em>Ensemble learning and movement</em>. At NSF funded Tensegrity Workshop, Vassar College.
      </li>
      <li>
        <strong>Vogelstein, L.</strong>, Jackson, A., & Marshall, S. A. (2018, October).
        <em>Ambassadors and advocacy: A workshop on positionality</em>. In A. Pierson, & L.
        Vogelstein (Eds.), Designing the learning sciences: Thinking deeply about the relationship
        between theory and design (pp. 197-198). Nashville, TN: Learning Sciences Graduate Student
        Conference.
      </li>
      <li>
        <strong>Vogelstein, L.</strong> (2017, June). <em
          >Two reflections = one rotation?: Questions in embodied analyses</em
        >. Data Gallery Presentation at the NSF funded Learning on the Move Conference, Nashville,
        TN.
      </li>
      <li>
        <strong>Vogelstein, L.</strong> (2016, October). <em
          >The Learning Sciences: Figuring out what it means together</em
        >. Workshop presented at Learning Sciences Graduate Student Conference annual meeting,
        Chicago, IL.
      </li>
    </ol>
  </div>

  <div class="content-container">
    <h2>Grants and Fellowships</h2>
    <div class="three-columns">
      <p class="col-1">2024-2026</p>
      <div class="col-2">
        <h3>NSF STEM Education Postdoc Grant - PI (Under review)</h3>
        <p>National Science Foundation</p>
        <p>
          <em
            >Embodied Co-Analysis of Dance-Science Learning: Shaping scientists' embodied
            pedagogical reasoning for expansive science learning</em
          >
        </p>
      </div>
      <p class="col-3">$170,000</p>
    </div>
    <div class="three-columns">
      <p class="col-1">2021-2024</p>
      <div class="col-2">
        <h3>NSF AISL Grant - Co-PI</h3>
        <p>National Science Foundation</p>
        <p>
          <em
            >The body as a tool for science learning and research: Utilizing choreography and
            agent-based models to study scientific phenomena</em
          >
        </p>
      </div>
      <p class="col-3">$861,283</p>
    </div>
    <div class="three-columns">
      <p class="col-1">2019-2020</p>
      <div class="col-2">
        <h3>NSF INTERN Award - Principal Investigator</h3>
        <p>National Science Foundation</p>
        <p>
          <em>Educational Outreach Internship with New Dialect</em>
        </p>
      </div>
      <p class="col-3">$24,425</p>
    </div>
    <div class="three-columns">
      <p class="col-1">2017-2019</p>
      <div class="col-2">
        <h3>Research Grant</h3>
        <p>Curb Center Public Scholar, Vanderbilt University</p>
      </div>
      <p class="col-3">$2,000</p>
    </div>
    <div class="three-columns">
      <p class="col-1">2017</p>
      <div class="col-2">
        <h3>Peabody Small Grant</h3>
        <p>Peabody College, Vanderbilt University</p>
        <p>
          <em>Making of Expansive Possibilities</em>
        </p>
      </div>
      <p class="col-3">$10,000</p>
    </div>
    <div class="three-columns">
      <p class="col-1">2018-2020</p>
      <div class="col-2">
        <h3>Peabody Dean's Fellowship</h3>
        <p>Peabody College, Vanderbilt University</p>
      </div>
      <p class="col-3">$5,000</p>
    </div>
    <div class="three-columns">
      <p class="col-1">2016-2021</p>
      <div class="col-2">
        <h3>Graduate Honor Scholarship</h3>
        <p>Vanderbilt University</p>
      </div>
      <p class="col-3">$50,000</p>
    </div>
  </div>

  <div class="content-container">
    <h2>Graduate & Undergraduate Teaching Experience</h2>
    <div class="three-columns">
      <p class="col-1">Fall 2024</p>
      <div class="col-2">
        <h3>Studio Seminar: A&amp;HD 6999</h3>
        <p>
          <em><strong>Instructor of Record</strong></em>
        </p>
      </div>
      <p class="col-3">Teachers College</p>
    </div>
    <div class="three-columns">
      <p class="col-1">Fall 2024</p>
      <div class="col-2">
        <h3>Doctoral Seminar 1: A&amp;HD 6051</h3>
        <p>
          <em><strong>Instructor of Record</strong></em>
        </p>
      </div>
      <p class="col-3">Teachers College</p>
    </div>
    <div class="three-columns">
      <p class="col-1">Fall 2023</p>
      <div class="col-2">
        <h3>Independent Study - Equity, Language, & CS Education</h3>
        <p>
          <em><strong>Instructor</strong></em>
        </p>
      </div>
      <p class="col-3">NYU</p>
    </div>
    <div class="three-columns">
      <p class="col-1">Spring 2023</p>
      <div class="col-2">
        <h3>Advanced Topics in Computer Science Education</h3>
        <p>
          <em><strong>Co-Instructor</strong></em>
        </p>
      </div>
      <p class="col-3">NYU</p>
    </div>
    <div class="three-columns">
      <p class="col-1">Spring 2021</p>
      <div class="col-2">
        <h3>Learning & the Interaction Order</h3>
        <p>
          <em><strong>Teaching Assistant</strong></em>
        </p>
      </div>
      <p class="col-3">Vanderbilt University</p>
    </div>
    <div class="three-columns">
      <p class="col-1">Spring 2020</p>
      <div class="col-2">
        <h3>Learning & Design in Community Settings</h3>
        <p>
          <em><strong>Teaching Assistant</strong></em>
        </p>
      </div>
      <p class="col-3">Vanderbilt University</p>
    </div>
    <div class="three-columns">
      <p class="col-1">Fall 2019</p>
      <div class="col-2">
        <h3>Design and Study of Informal Learning Environments</h3>
        <p>
          <em><strong>Teaching Assistant</strong></em>
        </p>
      </div>
      <p class="col-3">Vanderbilt University</p>
    </div>
    <div class="three-columns">
      <p class="col-1">Spring 2019</p>
      <div class="col-2">
        <h3>Discourse in STEM</h3>
        <p>
          <em><strong>Teaching Assistant</strong></em>
        </p>
      </div>
      <p class="col-3">Vanderbilt University</p>
    </div>
    <div class="three-columns">
      <p class="col-1">Summer 2018</p>
      <div class="col-2">
        <h3>Learning In & Out of Schools</h3>
        <p>
          <em><strong>Teaching Assistant</strong></em>
        </p>
      </div>
      <p class="col-3">Vanderbilt University</p>
    </div>
    <div class="three-columns">
      <p class="col-1">2019-2022</p>
      <div class="col-2">
        <h3>Learning & Design Masters Program</h3>
        <p>
          <em><strong>Capstone Mentor</strong></em>
        </p>
      </div>
      <p class="col-3">Vanderbilt University</p>
    </div>
  </div>

  <div class="content-container">
    <h2>Invited Talks</h2>
    <ol>
      <li>
        STEM+Choreography: Ensemble, embodied resources for sensemaking and learning<ul>
          <li>
            Learning Sciences Brown Bag Lecture Series - Learning Sciences Research Institute,
            University of Illinois Chicago (Spring 2024).
          </li>
        </ul>
      </li>
      <li>
        Centralizing Artistic Practices in Constructionist Learning<ul>
          <li>
            Scholarly Panel - FabLearn/Constructionism 2023, Teachers College, Columbia University
            (Fall 2023).
          </li>
        </ul>
      </li>
      <li>
        Interaction Analysis: Methodological Seeds & Blossoms<ul>
          <li>
            Learning Sciences: Research & Methodological Perspectives - Graduate Course, University
            of Utah, Tracy Dobie (Spring 2023).
          </li>
        </ul>
      </li>
      <li>
        Learning Sciences Early Career Advice<ul>
          <li>
            Learning Sciences Seminar - Graduate Course, University of Wisconsin Madison, David
            Shaffer (Spring, 2023).
          </li>
        </ul>
      </li>
      <li>
        Scientific Discovery in Intergenerational Choreographic Modeling<ul>
          <li>
            Science Modeling - Undergraduate & Graduate Course, Vanderbilt University, Natalie De
            Lucca & Jessica Watkins (Spring, 2023).
          </li>
        </ul>
      </li>
      <li>
        Interdisciplinary Collaboration in Design Research: A Process of Composing Across Design,
        Analysis, and Relations.<ul>
          <li>Teaching & Learning Department Lecture Series, NYU (Fall, 2022).</li>
        </ul>
      </li>
      <li>
        Relationality in Interdisciplinary Co-Design & Co-Analysis.<ul>
          <li>
            Designing for Contexts - Graduate Course, Vanderbilt University, Kris Neal (Fall, 2022).
          </li>
        </ul>
      </li>
      <li>
        New Approaches to Conjecture Mapping in Design Based Research.<ul>
          <li>
            Design Based Research Methods - Graduate Course, NYU, Chris Hoadley (Spring, 2022).
          </li>
        </ul>
      </li>
      <li>
        Ethical Reflections on Design Research Partnerships.<ul>
          <li>
            Designing for Contexts. Introduction to the Design of Learning Environments - Graduate
            Course, Vanderbilt University, Kris Neal (Fall, 2021).
          </li>
        </ul>
      </li>
      <li>
        Using Processes of Physical Research as Collective Embodied, Expressive Inquiry.<ul>
          <li>
            Introduction to the Arts with an Emphasis on Children's Literature - Graduate Course,
            Vanderbilt University, Jeanne Peter (Summer 2021).
          </li>
        </ul>
      </li>
      <li>
        Embodied Methods of Interaction Analysis.<ul>
          <li>
            Learning in Interaction and Participation: Understanding the Role of Place, Bodies, and
            Movement - Graduate Course, UCLA, Ananda Marin (Spring, 2022).
          </li>
        </ul>
      </li>
      <li>
        Reenacting mathematical concepts found in large-scale dance performance can provide both
        material and method for ensemble learning.<ul>
          <li>
            Berkeley University Embodied Research Group - CU Berkeley, David DeLiema & Dor
            Abrahamson (Spring, 2021)
          </li>
        </ul>
      </li>
      <li>
        Creating Large Scale Ensemble Mathematical Performances & Transformations.<ul>
          <li>
            Mathematics Visualization - Graduate Course, Vanderbilt University, Corey Brady (Fall
            2018).
          </li>
        </ul>
      </li>
      <li>
        Experiencing Ensemble Mathematics Learning in Choreography.<ul>
          <li>
            Learning In the Community - Graduate Course, Vanderbilt University, Andrew Hostetler
            (Summer 2017).
          </li>
        </ul>
      </li>
      <li>
        Viewing Ensemble Mathematics in Choreography.<ul>
          <li>
            Learning in and out of Schools - Graduate Course, Vanderbilt University, Rogers Hall
            (Spring 2017).
          </li>
        </ul>
      </li>
    </ol>
  </div>

  <div class="content-container">
    <h2>Works Read in University Courses</h2>
    <ol>
      <li>
        Learning Sciences: Research & Methodological Perspectives - Graduate Course, University of
        Utah, Tracy Dobie.<ul>
          <li>
            <strong>Vogelstein, L.</strong>, Brady, C., & Hall, R. (2019). Reenacting mathematical
            concepts found in large-scale dance performance can provide both material and method for
            ensemble learning. <em>ZDM Mathematics Education</em> 51(2).
          </li>
        </ul>
      </li>
      <li>
        Science Modeling - Undergraduate & Graduate Course, Vanderbilt University, Natalie De Lucca
        & Jessica Watkins.<ul>
          <li>
            <strong>Vogelstein, L.</strong> (2022). Chapter 4: Interdisciplinary Collaboration in Design
            Research: A Process of Composing Across Design, Analysis, and Relations. <em
              >From Vogelstein Dissertation: Choreographic ways of knowing as generative sites for
              STEM learning, design, and analysis (pp. 77-146)</em
            > Vanderbilt University 2022.
          </li>
        </ul>
      </li>
      <li>
        Learning Sciences Graduate Seminar - Graduate Course, Stanford University, Victor Lee.<ul>
          <li>
            <strong>Vogelstein, L.</strong> (2021). Mathematical physical research: Mathematical agency
            in the practices of professional dancers. <em
              >Proceedings of the International Society of the Learning Sciences Annual Meeting 2021</em
            > (pp. 299-306).
          </li>
        </ul>
      </li>
      <li>
        Designing for Contexts. Introduction to the Design of Learning Environments - Graduate
        Course, Vanderbilt University, Kris Neal.<ul>
          <li>
            <strong>Vogelstein, L.</strong> (2022). Chapter 4: Interdisciplinary Collaboration in Design
            Research: A Process of Composing Across Design, Analysis, and Relations. <em
              >From Vogelstein Dissertation: Choreographic ways of knowing as generative sites for
              STEM learning, design, and analysis (pp. 77-146)</em
            > Vanderbilt University 2022.
          </li>
        </ul>
      </li>
      <li>
        Design and Study of Informal Learning Environments - Graduate Course, Vanderbilt University,
        Rogers Hall.<ul>
          <li>
            <strong>Vogelstein, L.</strong> Brady, C., & Hall, R. (2019). Reenacting mathematical concepts
            found in large-scale dance performance can provide both material and method for ensemble
            learning. <em>ZDM Mathematics Education</em> 51(2).
          </li>
        </ul>
      </li>
      <li>
        Learning in Interaction and Participation: Understanding the Role of Place, Bodies, and
        Movement - Graduate Course, UCLA, Ananda Marin.<ul>
          <li>
            <strong>Vogelstein, L.</strong> Brady, C., & Hall, R. (2019). Reenacting mathematical concepts
            found in large-scale dance performance can provide both material and method for ensemble
            learning. <em>ZDM Mathematics Education</em> 51(2).
          </li>
        </ul>
      </li>
      <li>
        Learning and the Interaction Order - Graduate Course, Vanderbilt University, Rogers Hall.<ul
        >
          <li>
            <strong>Vogelstein, L.</strong> Brady, C., & Hall, R. (2019). Reenacting mathematical concepts
            found in large-scale dance performance can provide both material and method for ensemble
            learning. <em>ZDM Mathematics Education</em> 51(2).
          </li>
        </ul>
      </li>
      <li>
        Learning & Design in Community Settings - Undergraduate Course, Vanderbilt University,
        Rogers Hall.<ul>
          <li>
            <strong>Vogelstein, L.</strong> Brady, C., & Hall, R. (2019). Reenacting mathematical concepts
            found in large-scale dance performance can provide both material and method for ensemble
            learning. <em>ZDM Mathematics Education</em> 51(2).
          </li>
        </ul>
      </li>
    </ol>
  </div>

  <div class="content-container">
    <h2>Professional Development Design & Facilitation</h2>
    <div class="three-columns">
      <p class="col-1">2022</p>
      <div class="col-2">
        <h3>PiLa-CS Professional Learning Community</h3>
        <p>
          <em><strong>New York University</strong></em>
        </p>
      </div>
      <p class="col-3">New York, NY</p>
    </div>
    <div class="three-columns">
      <p class="col-1">2022</p>
      <div class="col-2">
        <h3>Language, Justice, CS, & You</h3>
        <p>
          <em><strong>NYC Department of Education</strong></em>
        </p>
      </div>
      <p class="col-3">New York, NY</p>
    </div>
    <div class="three-columns">
      <p class="col-1">2022</p>
      <div class="col-2">
        <h3>Choreographing Science AISL PD</h3>
        <p>
          <em><strong>University of Florida</strong></em>
        </p>
      </div>
      <p class="col-3">Gainesville, FL</p>
    </div>
    <div class="three-columns">
      <p class="col-1">2019</p>
      <div class="col-2">
        <h3>INTERN Week exploring physical research of ensemble math</h3>
        <p>
          <em><strong>New Dialect</strong></em>
        </p>
      </div>
      <p class="col-3">Nashville, TN</p>
    </div>
    <div class="three-columns">
      <p class="col-1">2018-2020</p>
      <div class="col-2">
        <h3>CAMPS Co-Design and Professional Development Workshops</h3>
        <p>
          <em><strong>Vanderbilt University</strong></em>
        </p>
      </div>
      <p class="col-3">Nashville, TN</p>
    </div>
  </div>

  <div class="content-container">
    <h2>Professional Service</h2>
    <h3>Journal Reviewer</h3>
    <div class="two-columns">
      <div class="col-1">
        <p>2021-Present</p>
        <p>2022-Present</p>
      </div>
      <div class="col-2">
        <p><em>Journal of the Learning Sciences</em></p>
        <p><em>Cognition & Instruction</em></p>
      </div>
    </div>
    <h3>Grant Reviewer</h3>
    <div class="two-columns">
      <div class="col-1">
        <p>2023-Present</p>
      </div>
      <div class="col-2">
        <p><em>Spencer Foundation</em></p>
      </div>
    </div>
    <h3>Conference Reviewer</h3>
    <div class="two-columns">
      <div class="col-1">
        <p>2019-Present</p>
        <p>2019-Present</p>
        <p>2016-2021</p>
      </div>
      <div class="col-2">
        <p><em>American Education Research Association Annual Meeting</em></p>
        <p><em>International Conference of the Learning Sciences</em></p>
        <p><em>Learning Sciences Graduate Student Conference</em></p>
      </div>
    </div>
    <h3>Conference Organizer - Learning Sciences Graduate Student Conference</h3>
    <div class="two-columns">
      <div class="col-1">
        <p>2018</p>
        <p>2016-2020</p>
      </div>
      <div class="col-2">
        <p><em>Conference Co-Chair at Vanderbilt University</em></p>
        <p><em>Faculty Speakers & Social Events Committee Chair</em></p>
      </div>
    </div>
  </div>

  <div class="content-container">
    <h2>University Service & Memberships</h2>
    <div class="two-columns">
      <div class="col-1">
        <p>2024-Present</p>
      </div>
      <div class="col-2">
        <p>
          <strong>Member</strong>, Morning Side Dance Works Committee, Teachers College, Columbia
          University
        </p>
      </div>
    </div>

    <div class="two-columns">
      <div class="col-1">
        <p>2024-Present</p>
      </div>
      <div class="col-2">
        <p>
          <strong>Member</strong>, Arnhold Institute for Dance Education Research, Policy, &amp;
          Leadership Symposium Planning Committee, Teachers College, Columbia University
        </p>
      </div>
    </div>

    <div class="two-columns">
      <div class="col-1">
        <p>2019-2020</p>
      </div>
      <div class="col-2">
        <p>
          <strong>Chair</strong>, Department of Teaching & Learning Doctoral Student Association,
          Vanderbilt University
        </p>
      </div>
    </div>
    <div class="two-columns">
      <div class="col-1">
        <p>2019-2020</p>
      </div>
      <div class="col-2">
        <p>
          <strong>Science Ed Search Committee Graduate Representative</strong>, Department of
          Teacher & Learning, Vanderbilt University
        </p>
      </div>
    </div>
    <div class="two-columns">
      <div class="col-1">
        <p>2017-2018</p>
      </div>
      <div class="col-2">
        <p>
          <strong>First Year Liaison</strong>, Department of Teaching & Learning Doctoral Student
          Association, Vanderbilt University
        </p>
      </div>
    </div>
    <div class="two-columns">
      <div class="col-1">
        <p>2017</p>
      </div>
      <div class="col-2">
        <p>
          <strong>Social Chair</strong>, Department of Teaching & Learning Doctoral Student
          Association, Vanderbilt University
        </p>
      </div>
    </div>
    <div class="two-columns">
      <div class="col-1">
        <p>2017-2020</p>
      </div>
      <div class="col-2">
        <p>
          <strong>Co-Founder Math Club</strong>, Department of Teaching & Learning, Vanderbilt
          University
        </p>
      </div>
    </div>
    <div class="two-columns">
      <div class="col-1">
        <p>2018-2020</p>
      </div>
      <div class="col-2">
        <p>
          <strong>Graduate Student Orientation Panel</strong>, Peabody College, Vanderbilt
          University
        </p>
      </div>
    </div>
  </div>

  <div class="content-container">
    <h2>Professional Memberships</h2>
    <p>International Society of the Learning Sciences (ISLS)</p>
    <p>American Educational Research Association (AERA)</p>
    <ul>
      <li>Division G</li>
      <li>SIG - Learning Sciences</li>
    </ul>
    <p>International Group for the Psychology of Mathematics Education (PME)</p>
  </div>

  <div class="content-container">
    <h2>Selected Honors and Awards</h2>
    <div class="two-columns">
      <div class="col-1">
        <p>2023</p>
      </div>
      <div class="col-2">
        <h3>Undergraduate Mentee Nominated for Best LS Student Paper Award ISLS 2023</h3>
        <p>
          Research as Relational: Stories of ever-present learning between undergraduate research
          interns and project researchers.
        </p>
      </div>
    </div>
    <div class="two-columns">
      <div class="col-1">
        <p>2021</p>
      </div>
      <div class="col-2">
        <h3>ISLS Nominated Best LS Student Paper Award</h3>
        <p>
          Mathematical Physical Research: Mathematical agency in the practices of professional
          dancers.
        </p>
      </div>
    </div>
    <div class="two-columns">
      <div class="col-1">
        <p>2019-2020</p>
      </div>
      <div class="col-2">
        <h3>Jasmine Ma Award</h3>
        <p>for service to the DTL Doctoral Student Community</p>
      </div>
    </div>
    <div class="two-columns">
      <div class="col-1">
        <p>2017</p>
      </div>
      <div class="col-2">
        <h3>NSF Graduate Research Fellowship Honorable Mention</h3>
        <p>
          Putting the Body Back into the Equation: Ensemble based embodied mathematical thinking and
          learning
        </p>
      </div>
    </div>
    <div class="two-columns">
      <div class="col-1">
        <p>2016</p>
      </div>
      <div class="col-2">
        <h3>NSF Graduate Research Fellowship Honorable Mention</h3>
        <p>The Design Potential of Full Body Movements For Mathematics Thinking and Learning</p>
      </div>
    </div>
    <div class="two-columns">
      <div class="col-1">
        <p>2015-2016</p>
      </div>
      <div class="col-2">
        <h3>Learning Sciences Scholarship</h3>
        <p>Northwestern University</p>
      </div>
    </div>
    <div class="two-columns">
      <div class="col-1">
        <p>2011-2013</p>
      </div>
      <div class="col-2">
        <h3>Clare Boothe Luce Scholar</h3>
        <p>Fordham University</p>
      </div>
    </div>
    <div class="two-columns">
      <div class="col-1">
        <p>2009-2013</p>
      </div>
      <div class="col-2">
        <h3>Dean's List</h3>
        <p>Fordham University</p>
      </div>
    </div>
  </div>
</div>

<style>
  .cv {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: -100;
    top: 50%;
    left: 1rem;
    right: 1rem;
    max-height: 90%;
    overflow: auto;
    transform: translate(0, -45%);
    transition: all var(--transition-normal);
    background-color: var(--color-white);
    padding: 1.5rem;
    border: 1px solid var(--color-black);
    border-radius: 1.25rem;
    box-shadow: var(--box-shadow-normal);
  }

  @media (min-width: 768px) {
    .cv {
      left: 50%;
      transform: translate(-50%, -45%);
      width: 100%;
      max-width: 600px;
      padding: 2rem;
    }
  }

  .cv.active {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    transform: translate(0, -50%);
  }

  @media (min-width: 768px) {
    .cv.active {
      transform: translate(-50%, -50%);
    }
  }

  .close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0.75rem;
    border: 1px solid var(--color-black);
    border-radius: 50%;
  }

  .close:hover {
    background-color: var(--color-black);
  }

  .close svg {
    width: 1rem;
    height: 1rem;
    stroke: var(--color-black);
  }

  .close:hover path {
    stroke: var(--color-white);
  }

  .content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
    overflow-wrap: break-word;
    border-bottom: 1px solid var(--color-grey-dark);
  }

  .content-container:first-of-type {
    padding-top: 2rem;
  }

  .content-container:last-of-type {
    padding-bottom: 2rem;
    border-bottom: none;
  }

  .content-container h2 {
    font-size: var(--size-base);
    text-align: left;
  }

  .content-container h3 {
    font-size: var(--size-sm);
    color: var(--color-grey-text);
  }

  @media (min-width: 768px) {
    .content-container h2 {
      font-size: var(--size-lg);
    }

    .content-container h3 {
      font-size: var(--size-base);
    }
  }

  .content-container ol,
  .content-container ul {
    padding-left: 1rem;
  }

  .content-container ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: decimal;
  }

  .content-container ul {
    list-style-type: disc;
  }

  .space-between,
  .two-columns,
  .three-columns {
    display: grid;
    gap: 1rem;
  }

  .space-between p:last-child,
  .three-columns .col-3 {
    text-align: end;
  }

  .space-between {
    grid-template-columns: 2fr 1fr;
  }

  .two-columns {
    grid-template-columns: 90px 1fr;
  }

  .three-columns {
    grid-template-columns: 90px 1fr 90px;
  }

  @media (min-width: 768px) {
    .two-columns {
      grid-template-columns: 100px 1fr;
    }

    .three-columns {
      grid-template-columns: 100px 1fr 100px;
    }
  }
</style>

<script>
  const body = document.querySelector('body')
  const cv = document.querySelector('.cv')
  const cvButtons = document.querySelectorAll('[data-cv]')
  const cvClose = document.querySelector('.close')

  /**
   * On CV button click, show CV
   */
  function handleOpenCV() {
    cv?.classList.add('active')
    body?.setAttribute('data-overlay-displayed', 'true')
    body?.setAttribute('data-cv-displayed', 'true')
  }

  /**
   * Close CV
   */
  function handleCloseCV() {
    cv?.classList.remove('active')
    body?.setAttribute('data-overlay-displayed', 'false')
    body?.setAttribute('data-cv-displayed', 'false')
  }

  // Accessibility
  body?.addEventListener('keyup', (event) => {
    if (event.code === 'Escape') {
      handleCloseCV()
    }
  })

  // Event Listeners
  cvButtons?.forEach((button) => button?.addEventListener('click', handleOpenCV))
  cvClose?.addEventListener('click', handleCloseCV)
  body?.addEventListener('click', (event) => {
    const CVIsDisplayed = body.getAttribute('data-cv-displayed') === 'true'
    const userClickedOutsideCV = event.target === body

    if (CVIsDisplayed && userClickedOutsideCV) {
      handleCloseCV()
    }
  })
</script>
