<div id="cv" class="cv">
  <!-- Close -->
  <button class="close">
    <svg
      width="159"
      height="184"
      viewBox="0 0 159 184"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><path d="M15 15L143.269 168.451" stroke-width="10" stroke-linecap="round"></path><path
        d="M15 168.455L143.263 15"
        stroke-width="10"
        stroke-linecap="round"></path></svg
    >
  </button>

  <!-- Content blocks (.content-container) -->

  <div class="content-container">
    <a href="/files/lauren-vogelstein-cv.pdf" aria-label="CV" download>Download CV Here</a>
    <p>
      I study how embodied theories of learning, informed by the expressive and artistic practices
      of dancers and choreographers, can reframe what is learned in STEM environments, how it can be
      learned collectively, and who is involved in expanding the pedagogical implications of this
      work. In other words, I study how people learn from an embodied and interactionist perspective
      in order to better design expansive STEM learning environments for students.
    </p>
  </div>

  <div class="content-container">
    <h2>Current Position</h2>
    <div class="main">
      <div class="space-between">
        <h3>University of Pennsylvania</h3>
        <p>Nov 2023-Aug 2024</p>
      </div>
      <div class="space-between">
        <p>
          Engaging High School Youth in Algorithmic Justice Through Audits of Designed and Everyday
          Machine Learning Applications
        </p>
        <p>NSF Funded Grant</p>
      </div>
      <div class="space-between">
        <p>Equity Centered Learning Environments Collaborative</p>
        <p>Lucas Foundation Funded Initiative</p>
      </div>
      <p>
        PIs Yasmin Kafai (University of Pennsylvania) & Danaë Metaxa (University of Pennsylvania)
      </p>
    </div>
  </div>

  <div class="content-container">
    <h2>Previous Position</h2>
    <div class="main">
      <div class="space-between">
        <h3>New York University</h3>
        <p>2022-2023</p>
      </div>
      <p>Postdoctoral Associate</p>
      <div class="space-between">
        <p>Participating in Literacies & Computer Science (PiLa-CS)</p>
        <p>NSF Funded Grant</p>
      </div>
      <div class="space-between">
        <p>Equity Centered Learning Environments Collaborative</p>
        <p>Lucas Foundation Funded Initiative</p>
      </div>
      <p>
        PIs Christopher Hoadley (SUNY Buffalo), Jasmine Ma (NYU), & Laura Ascenzi-Moreno (Brooklyn
        College)
      </p>
    </div>
  </div>

  <div class="content-container">
    <h2>Education</h2>
    <div class="main">
      <div class="space-between">
        <h3>Vanderbilt University</h3>
        <p>2022</p>
      </div>
      <p>PhD Learning and Design</p>
      <p>
        <em
          >Dissertation: Choreographic ways of knowing as generative sites for STEM learning,
          design, and analysis</em
        >
      </p>
      <p>
        Committee: Dr. Rogers Hall (co-chair), Dr. Corey Brady (co-chair), Dr. Noel Enyedy, & Dr.
        Dionne Champion
      </p>
    </div>

    <div class="content-container">
      <div class="main">
        <div class="space-between">
          <h3>Northwestern University</h3>
          <p>2016</p>
        </div>
        <p>MA Learning Sciences</p>
        <p>
          <em
            >Thesis: Lucy the Chipmunk Defender: Embodied learning on the elementary school
            playground</em
          >
        </p>
        <p>Advisor: Dr. Reed Stevens</p>
      </div>
    </div>

    <div class="content-container">
      <div class="main">
        <div class="space-between">
          <h3>Fordham University/The Alvin Ailey School</h3>
          <p>2013</p>
        </div>
        <p>BS Mathematics</p>
        <p>BFA Dance <em>Concentration: Choreography</em></p>
      </div>
    </div>
  </div>

  <div class="content-container">
    <h2>Recent Research Milestones</h2>
    <div class="main">
      <h3>Selected Publications</h3>
      <p>
        Sengupta-Irving, T., <strong>Vogelstein, L.</strong>, Brady, C., Phillips-Galloway, E.
        (2022). Prolepsis & telos: Interpreting pedagogy and recovering the role of imagination in
        the mediation of youth learning. <em>Journal of the Learning Sciences.</em>
      </p>
      <p>
        <strong>Vogelstein, L.</strong>, Brady, C., & Hall, R. (2019). Reenacting mathematical
        concepts found in large-scale dance performance can provide both material and method for
        ensemble learning. <em>ZDM Mathematics Education 51(2).</em>
        <a
          href="https://link.springer.com/article/10.1007/s11858-019-01030-2"
          target="_blank"
          rel="noopener">https://link.springer.com/article/10.1007/s11858-019-01030-2</a
        >
      </p>
      <p>
        <strong>Vogelstein, L.</strong>(2021). <em
          >Mathematical physical research: Mathematical agency in the practices of professional
          dancers.</em
        > Proceedings of the International Society of the Learning Sciences Annual Meeting 2021 (pp.
        299-306). Best student paper nominee for Learning Sciences. <a
          href="https://drive.google.com/file/d/1NuYhdOKDgpp_omNH6qXKYmAh2G5_c9iv/view"
          target="_blank"
          rel="noopener">https://drive.google.com/file/d/1NuYhdOKDgpp_omNH6qXKYmAh2G5_c9iv/view</a
        >
      </p>

      <h3>Recent Grant Funding</h3>
      <p>
        $858,997, Co-PI - Applying a complex systems perspective to investigate the relationship
        between choreography and agent-based modeling as tools for scientific sense-making (NSF
        Funded AISL - 2021-2024, Dr. Dionne Champion PI, <strong>Lauren Vogelstein</strong> (Co-PI) &
        Aditi Wagh (Co-PI) <a
          href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2115773&HistoricalAwards=false"
          target="_blank"
          rel="noopener"
          >https://www.nsf.gov/awardsearch/showAward?AWD_ID=2115773&HistoricalAwards=false</a
        >
      </p>
    </div>
  </div>

  <div class="content-container">
    <h2>Peer Reviewed Journal Articles</h2>
    <div class="main">
      <p>
        Sengupta-Irving, T., <strong>Vogelstein, L.</strong>, Brady, C., Phillips-Galloway, E.
        (2022). Prolepsis & telos: Interpreting maker pedagogy, the role of creativity, and the
        power of imagined futures. <em>Journal of the Learning Sciences.</em>
        <a
          href="https://www.tandfonline.com/doi/full/10.1080/10508406.2022.2114833"
          target="_blank"
          rel="noopener">https://www.tandfonline.com/doi/full/10.1080/10508406.2022.2114833</a
        >
      </p>
      <p>
        Steinberg, S., Gresalfi, M., <strong>Vogelstein, L.</strong>, & Brady, C. (2022). Coding
        choreography: Understanding student responses to representational incompatibilities between
        dance and programming. <em>Journal of Research on Technology in Education</em>, 1-18. <a
          href="https://www.tandfonline.com/doi/full/10.1080/15391523.2022.2135144"
          target="_blank"
          rel="noopener">https://www.tandfonline.com/doi/full/10.1080/15391523.2022.2135144</a
        >
      </p>
      <p>
        <strong>Vogelstein, L.</strong>, Brady, C., & Hall, R. (2019). Reenacting mathematical
        concepts found in large-scale dance performance can provide both material and method for
        ensemble learning.
        <em>ZDM Mathematics Education</em> 51(2). <a
          href="https://link.springer.com/article/10.1007/s11858-019-01030-2"
          target="_blank"
          rel="noopener">https://link.springer.com/article/10.1007/s11858-019-01030-2</a
        >
      </p>
      <p>
        Brady, C., Blough, R., Hollister, K., Jordan, P., Marshall, S. A., Nichols, I., <strong
          >Vogelstein, L.</strong
        >, & Wisittanawat, P. (2019). Clockface polygons and the collective joy of making
        mathematics together. <em>Mathematics Enthusiast</em>, 16(1), 75-106. <a
          href="https://scholarworks.umt.edu/cgi/viewcontent.cgi?article=1451&context=tme"
          target="_blank"
          rel="noopener"
          >https://scholarworks.umt.edu/cgi/viewcontent.cgi?article=1451&context=tme</a
        >
      </p>
      <p>
        Barker, A., Swinarski, D., <strong>Vogelstein, L.</strong>, & Wu, J. (2015). A new proof of
        a formula for the type A 2 fusion rules. <em>Journal of Mathematical Physics</em>, 56(1),
        011703. <a href="https://arxiv.org/pdf/1408.4353.pdf" target="_blank" rel="noopener"
          >https://arxiv.org/pdf/1408.4353.pdf</a
        >
      </p>
      <p>
        <strong>Vogelstein, L.</strong> (2012). The Graham Trials: Preserving the Past for the Future.
        <em>Nartanam</em>, 12(1).
      </p>
    </div>
  </div>
</div>

<style>
  /* CV styles */

  .cv {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: -100;
    top: 50%;
    left: 1rem;
    right: 1rem;
    max-height: 90%;
    overflow: auto;
    transform: translate(0, -45%);
    transition: all var(--transition-normal);
    background-color: var(--color-white);
    padding: 1.5rem;
    border: 1px solid var(--color-black);
    border-radius: 1.25rem;
    box-shadow: var(--box-shadow-normal);
  }

  @media (min-width: 768px) {
    .cv {
      left: 50%;
      transform: translate(-50%, -45%);
      width: 100%;
      max-width: 600px;
      padding: 2rem;
    }
  }

  .cv.active {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    transform: translate(0, -50%);
  }

  @media (min-width: 768px) {
    .cv.active {
      transform: translate(-50%, -50%);
    }
  }

  .close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0.75rem;
    border: 1px solid var(--color-black);
    border-radius: 50%;
  }

  .close:hover {
    background-color: var(--color-black);
  }

  .close svg {
    width: 1rem;
    height: 1rem;
    stroke: var(--color-black);
  }

  .close:hover path {
    stroke: var(--color-white);
  }

  .content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
    overflow-wrap: break-word;
    border-bottom: 1px solid var(--color-grey-dark);
  }

  .content-container:first-of-type {
    padding-top: 2rem;
  }

  .content-container:last-of-type {
    padding-bottom: 2rem;
    border-bottom: none;
  }

  .content-container h2 {
    font-size: var(--size-xl);
    text-align: left;
  }

  .content-container h3 {
    font-size: var(--size-lg);
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .space-between {
    display: grid;
    grid-template-columns: 1fr minmax(0, 150px);
    gap: 2rem;
  }

  .space-between p:last-child {
    text-align: end;
  }
</style>

<script>
  const body = document.querySelector('body')
  const cv = document.querySelector('.cv')
  const cvButtons = document.querySelectorAll('[data-cv]')
  const cvClose = document.querySelector('.close')

  /**
   * On CV button click, show CV
   * @param {Event} e
   */
  function handleOpenCV(e: Event) {
    cv?.classList.add('active')
    body?.setAttribute('data-overlay-displayed', 'true')
    body?.setAttribute('data-cv-displayed', 'true')
  }

  /**
   * Close CV
   */
  function handleCloseCV() {
    cv?.classList.remove('active')
    body?.setAttribute('data-overlay-displayed', 'false')
    body?.setAttribute('data-cv-displayed', 'false')
  }

  // Accessibility
  body?.addEventListener('keyup', (event) => {
    if (event.code === 'Escape') {
      handleCloseCV()
    }
  })

  // Event Listeners
  cvButtons?.forEach((button) => button?.addEventListener('click', handleOpenCV))
  cvClose?.addEventListener('click', handleCloseCV)
</script>
